.newBoxTable
  .newBoxTable_first
    .newBoxTable_0{ :style => "width: 29px;" }
    .newBoxTable_0{ :style => "width: 135px;" }
      %p
        Nom
    .newBoxTable_0{ :style => "width: 106px;" }
      %p
        Prix
    .newBoxTable_0{ :style => "width: 200px;" }
      %p
        Espace mémoire
    .newBoxTable_0{ :style => "width: 200px;" }
      %p
        Double identification
    
  - (0...8).each do |i|
    .newBoxTable_lign{ :id => "new_abonnement_lign_#{i}" }
      .newBoxTable_lign_pair{ :id => "new_abonnement_pair_#{i}" }
        .newBoxTable_1{ :id => "new_abonnement_select_#{i}", :style => "width: 29px;" }
          %input{:id => "new_abonnement_check_#{i}", :type => "checkbox", :onclick => "select_new_abonnement(#{i})" }  
        .newBoxTable_2{ :id => "new_abonnement_0_#{i}", :style => "width: 138px;" }
        .newBoxTable_2{ :id => "new_abonnement_1_#{i}", :style => "width: 106px;" }
        .newBoxTable_2{ :id => "new_abonnement_2_#{i}", :style => "width: 200px;" }
        .newBoxTable_2{ :id => "new_abonnement_3_#{i}", :style => "width: 200px;" }
          

.NM_bleu{ :style => "width: 600px; height: 25px;  margin: 10px 0px 0 63px;" }
  %a.page_select{ :onclick => "go_page_new_abonnement('first')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_moins.png", :style=>"vertical-align:middle;"}
  page
  - (0...5).each do |i|
    %a{ :id => "new_abonnement_page_#{i}", :onclick => "go_page_new_abonnement(#{i})", :style => "cursor: pointer;" }
      #{i}
  %a.page_select{ :onclick => "go_page_new_abonnement('end')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_plus.png", :style=>"vertical-align:middle;"}
    