.contentBoxTable
  .contentBoxTable_first
    .contentBoxTable_0{ :style => "width: 25px;" }
    .contentBoxTable_0{ :style => "width: 325px;" }
      %p
        Référence
    .contentBoxTable_0{ :style => "width: 100px;" }
      %p
        Prix HT
    .contentBoxTable_0{ :style => "width: 100px;" }
      %p
        Prix TTC
    .contentBoxTable_0{ :style => "width: 65px;" }
      %p
        Statut
    .contentBoxTable_0{ :style => "width: 40px;" }
      %p
        Valider
    
  - (0...20).each do |i|
    .contentBoxTable_lign.off{ :id => "facture_lign_#{i}" }
      .contentBoxTable_lign_pair{ :id => "facture_pair_#{i}" }
        %a{ :style => "cursor: pointer;", :onclick => "affich_detail_facture(#{i})" }
          .contentBoxTable_fleche
        .contentBoxTable_2{ :id => "facture_0_#{i}" , :style => "width: 325px;" }
        .contentBoxTable_2{ :id => "facture_1_#{i}" , :style => "width: 100px;" }
        .contentBoxTable_2{ :id => "facture_2_#{i}" , :style => "width: 100px;" }
        .contentBoxTable_2{ :id => "facture_3_#{i}" , :style => "width: 65px;" } 
        .contentBoxTable_3{ :id => "facture_4_#{i}" , :style => "width: 40px;" } 
          %a{ :style => "cursor: pointer;", :onclick => "valid_facture(#{i})" }
            valider
  / Fin du tableau de présentation des modèles.

.NM_bleu{ :style => "width: 600px; height: 25px;  margin: 10px 0px 0 63px;" }
  %a.page_select{ :onclick => "go_page_facture('first')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_moins.png", :style=>"vertical-align:middle;"}
  page
  - (0...5).each do |i|
    %a{ :id => "facture_page_#{i}", :onclick => "go_page_facture(#{i})", :style => "cursor: pointer;" }
      #{i}
  %a.page_select{ :onclick => "go_page_facture('end')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_plus.png", :style=>"vertical-align:middle;"}
