.largeBoxTable
  .largeBoxTable_first
    .largeBoxTable_0{ :style => "width: 25px;" }
    .largeBoxTable_0{ :style => "width: 246px;" }
      %p
        Nom                   
    .largeBoxTable_0{ :style => "width: 210px;" }
      %p
        Famille 
    .largeBoxTable_0{ :style => "width: 100px;" }
      %p
        Générique
    .largeBoxTable_0{ :style => "width: 100px;" }
      %p
        Complexe
    
  - (0...20).each do |i|
    .largeBoxTable_lign.off{ :id => "link_lign_#{i}" }
      .largeBoxTable_lign_pair{ :id => "link_pair_#{i}" }
        %a{ :style => "cursor: pointer;", :onclick => "affich_detail_link(#{i})" }
          .largeBoxTable_fleche
        .largeBoxTable_2{ :id => "link_0_#{i}", :style => "width: 246px;" }
        .largeBoxTable_2{ :id => "link_1_#{i}", :style => "width: 201px;" }
        .largeBoxTable_2{ :id => "link_2_#{i}", :style => "width: 100px;" }
        .largeBoxTable_2{ :id => "link_3_#{i}", :style => "width: 100px;" }
        .largeBoxTable_suppr
  / Fin du tableau de présentation des modèles.

