/ Vue Index des links.
/ Liens vers les CSS
%link{ :href => "/stylesheets/main_link.css", :rel => "stylesheet", :media => "screen" }

/ Javascript particulier a la page link
%script{ :src => "/javascripts/link/functions_layer_link.js" ,   :type => "text/javascript" }
%script{ :src => "/javascripts/link/init_new_link.js" ,   :type => "text/javascript" }

/ wizard création de projet en premier plan
#content
  #bl_5.black.off
  / wizard de creation d'un nouveau link
  = render :partial => "link_nouveau"

  / partie gauche du contenu, raccourci
  #contentleft
    .contentheightmin
    = render :partial => "partials/raccourcis_modele"
    = render :partial => "ajouts_link"
  / fin partie gauche du contenu
  
  / partie droite du contenu, tableaux, informations importantes
  #contentright
    #largeBox
      %h2
        Liste des matériaux
    #largeBoxcontent
      / taille minimum du contenu du contenu
      .contentheightmin
      / taille minimum du contenu du contenu
      
      #LinkDetail.off
        = render :partial => "link_detail"
      #LinkListe.on
        = render :partial => "filtre_des_link"
        / liste des projet
        = render :partial => "link_list"
        / fin largeBoxcontent de la liste des projet
      
/ fin de #contentright, partie droite du contenu
%script{ :type => "text/javascript" }
  $(document).ready(get_Tableau_link);
  
= render :partial => "footer_top"