-# encoding: utf-8 
- disabled = false if disabled.nil?
- show_all = false if show_all.nil?

%h3
  Comportement

%p
  %select.ep_type
    %option{:value => "0"}    Epaisseur normale imposée
    /%option{:value => "1"}    Epaisseur directionnelle imposée
    %option{:value => "2"}    Précharge normale imposée
    /%option{:value => "3"}    Précharge directionnelle imposée
  

%table.grey#epaisseur_normale
  %tbody
    %tr
      %th Epaisseur normale
      %td= custom_text_field(:link, :Ep_n, "Ep_n", disabled)

%table.grey#epaisseur_direction
  %tbody
    %tr
      %th Epaisseur (x,y,z)
      %td= custom_text_field(:link, :Ep_x, "Ep_x", disabled)
      %td= custom_text_field(:link, :Ep_y, "Ep_y", disabled)
      %td= custom_text_field(:link, :Ep_z, "Ep_z", disabled)

%table.grey#preload_normale
  %tbody
    %tr
      %th Précharge normale
      %td= custom_text_field(:link, :Preload_n, "Preload_n", disabled)

%table.grey#preload_direction
  %tbody
    %tr
      %th Précharge (x,y,z)
      %td= custom_text_field(:link, :Preload_x, "Preload_x", disabled)
      %td= custom_text_field(:link, :Preload_y, "Preload_y", disabled)
      %td= custom_text_field(:link, :Preload_z, "Preload_z", disabled)

%table.grey#raideur
  %tbody
    %tr
      %th Raideur normale en traction (Kn)
      %td= custom_text_field(:link, :Kn, "Kn", disabled)
    %tr
      %th Raideur normale en compression (Knc)
      %td= custom_text_field(:link, :Knc, "Knc", disabled)
    %tr
      %th Raideur tangentielle (Kt)
      %td= custom_text_field(:link, :Kt, "Kt", disabled)

%table.grey#frottement
  %tbody
    %tr
      %th Coefficient de frottement (f)
      %td= custom_text_field(:link, :f, "f", disabled)

%table.grey#Lrupture
  %tbody
    %tr
      %th Limite de rupture normale (Fcr_n)
      %td= custom_text_field(:link, :Fcr_n, "Fcr_n", disabled)
    %tr
      %th Limite de rupture tangentielle (Fcr_t)
      %td= custom_text_field(:link, :Fcr_t, "Fcr_t", disabled)

%table.grey#Lendo
  %tbody
    %tr
      %th Gamma (gamma)
      %td= custom_text_field(:link, :gamma, "gamma", disabled)
    %tr
      %th Alpha (alpha)
      %td= custom_text_field(:link, :alpha, "alpha", disabled)
    %tr
      %th Coefficient (n)
      %td= custom_text_field(:link, :n, "n", disabled)
    %tr
      %th Energie limite  (Yc)
      %td= custom_text_field(:link, :Yc, "Yc", disabled)
    %tr
      %th Energie limite  (Yo)
      %td= custom_text_field(:link, :Yo, "Yo", disabled)
