-# encoding: utf-8 
- disabled = false if disabled.nil?
- show_all = false if show_all.nil?

%h3
  Information générique
%table.grey
  %tbody
    %tr
      %th Name
      %td= text_field :link, :name, :disabled => disabled

    %tr
      %th= label :link, :reference
      %td= text_field :link, :reference, :disabled => disabled

    %tr
      %th= label :link, :family
      %td= text_field :link, :family, :disabled => disabled

    %tr
      %th Description
      %td= text_area :link, :description, :disabled => disabled, :rows => 5, :cols => 10
   


