- disabled = false if disabled.nil?
- show_all = false if show_all.nil?

- if @link.comp_complexe.downcase.include? "pl" or show_all
  %h3
    Plastique
  %table.grey
    %tbody
      %tr
        %th Limite de plasticité (Lp)
        %td= custom_text_field(:link, :Lp, "Lp", disabled)
      %tr
        %th Taux de plastification (Dp)
        %td= custom_text_field(:link, :Dp, "Dp", disabled)
      %tr
        %th Déformation plastique (p)
        %td= custom_text_field(:link, :p, "p", disabled)
    
- if @link.comp_complexe.downcase.include? "ca" or show_all
  %h3
    Cassable
  %table.grey
    %tbody
      %tr
        %th Limite de rupture (Lr)
        %td= custom_text_field(:link, :Lr, "Lr", disabled)
      %tr
        %th Coefficient de frottement (f)
        %td= custom_text_field(:link, :f, "f", disabled)