-# encoding: utf-8 
%p
= semantic_form_for [@workspace, @sc_model], :url => {:controller => "scult", :action => "create"}, :html => {:multipart => true, :method => :post} do |form|
  %table.grey#workspace_information_table
    %tr
      %th= form.label :dimension
      %td= form.select :dimension , [["3D", 3]]
    %tr
      %th= form.label :units
      %td= form.select :units, [["m", "m"],["cm", "cm"],["mm", "mm"]]
    %tr
      %th= form.label :file
      %td= form.file_field :file

  /= f.inputs do
  /  = f.input :file, :as => :file
  = form.buttons
