-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_materiau
        =link_to 'Retour au modèle', workspace_sc_model_path(@workspace, @sc_model)

-content_for :workspace_content do
  %h2.grey
    Déposez votre maillage pour le modèle : 
    = @sc_model.name
  .grey
    %ul
      %li
        Nom du fichier :
        = @sc_model.original_filename
      %li
        Dimension :
        = @sc_model.dimension
      %li
        Unités :
        = @sc_model.units
      %li
        nombre de jetons débités : 
        = @nb_token
    
    -if !@sc_model.valid_state() 
      %button=link_to 'Valider', :controller => "scult", :action => "create", :sc_model_id => @sc_model.id
    %button=link_to 'Réinitialiser', :controller => "scult", :action => "destroy", :sc_model_id => @sc_model.id