%tr
  %td
    = link_to 'Détails', company_model_path(@company, model)
  %td= model.name
  %td= model.project
  %td= model.results
  %td v
  %td c
  %td= link_to "Editer", edit_company_model_path(@company, model)
