-content_for :additionnal_stylesheets do
  %link{ :href => "/stylesheets/main_sc_model.css", :rel => "stylesheet", :media => "screen" }

-content_for :additionnal_javascripts do
  %script{ :src => "/javascripts/modele/functions_layer_sc_model.js" ,   :type => "text/javascript" }

/ wizard création de projet en premier plan
/ wizard de creation d'un nouveau modele
= render :partial => "modele_nouveau"
= render :partial => "modele_delete"

-content_for :left_submenu do
  #contentleft      
    = render :partial => "partials/raccourcis_modele"
    = render :partial => "ajouts_modele"
  
-content_for :content do
  %table.grey
    %thead
      %tr
        %th
        %th                  Nom
        %th                  Projet
        %th                  Résultat
        %th                  Visu
        %th{ :colspan => 2 } Calcul
    %tbody
      = render @models
  = link_to "Nouveau modèle", new_company_model_path
