
-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.manage_pic_nouveau_membre
        =link_to 'fermer', scratch_user_path(current_user)

-content_for :right_top do
  %h2.grey
    Edit #{resource_name.to_s.humanize}
  .grey
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      #login_format
        %p
          = f.label :email
          %br/
          = f.text_field :email
        %p
          = f.label :password
          %i (leave blank if you don t want to change it)
          %br/
          = f.password_field :password
        %p
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation
        %p
          = f.label :current_password
          %i (we need your current password to confirm your changes)
          %br/
          = f.password_field :current_password
        /%p= f.submit "Update"
        %button.login_button.yellow_button{ :type => "submit"}
          Update
        %p
          %br
