#page_righ_interface.NC_box.off
  .NC_filter{ :style => "width:248px; height:120px" }
    Liste des interfaces pour ce modèle
  /  <?php include("./contenu/NC_etape_CLs/NC_filter_interfaces.php");  ?>
  - (0...20).each do |i|
    .tableNC_impair{ :id => "interface_pair_#{i}" }
      .tableNC_box_lign{ :id => "interface_lign_#{i}" }
        %a{:onclick => "select_interfaces(#{i})", :style => "cursor: pointer;" }
          .tableNC_box_picto{ :id => "interface_picto_#{i}" }
          .tableNC_box_2{ :id => "interface_0_#{i}" }
        %a{ :onclick => "view_interfaces(#{i})", :style => "cursor: pointer;" }
          .tableNC_box_visu{ :id => "interface_visu_#{i}" }

  .NC_filter{ :style => "width:248px; height:20px" }
    .NC_bottom_page_1.right
      %a.page_select{ :onclick => "go_page_interface('first')", :style => "cursor: pointer;" }
        <
      page
      - (0...5).each do |i|
        %a{ :id => "interface_page_#{i}", :onclick => "go_page_interface(#{i})", :style => "cursor: pointer;" }
          #{i}
      %a.page_select{ :onclick => "go_page_interface('end')", :style => "cursor: pointer;" }
        >