#NC_page_materiaux_2.off
  .NC_top_box
    Liste des pièces
  #page_mat_22.NC_box
    .NC_filter{ :style => "width:248px; height:120px" }
      .NC_active_box_init_text_1{ :style => "width:90%;" }
        %select#piece_filter_type{ :onChange => "change_piece_filter()", :name=> "piece_filter_type" }
          %option{ :value => "" }
            pas de filtre
          %option{ :value => "name" }
            name
          %option{ :value => "between_2_ids" }
            between 2 ids
      .NC_active_box_init_text_1{ :style => "width:90%;" }
        %input#piece_filter_value{:type => "text", :name=> "piece_filter_value", :onChange => "change_piece_filter()"} 
      .NC_active_box_init_text_1{ :style => "width:90%;" }
        %a{:onclick => "affiche_Tableau_piece()", :style => "cursor: pointer;" }
          .NC_filter_button{ :style => "margin-right:40px; text-align: center;" }
            valider


    - (0...20).each do |i|
      .tableNC_impair{ :id => "piece_pair_#{i}" }
        .tableNC_box_0{ :id => "piece_1_#{i}" }
          %a{:id => "piece_1a_#{i}", :onclick => "select_pieces_mat(#{i})", :style => "cursor: pointer;" }
            .tableNC_box_retrait_10{ :id => "piece_1r_#{i}" }
            .tableNC_box_1{ :id => "piece_11_#{i}" }
            .tableNC_box_2{ :id => "piece_12_#{i}" }
          %a{ :onclick => "view_pieces(#{i})", :ondblclick => "view_only_piece(#{i})", :style => "cursor: pointer;" }
            .tableNC_box_visu{ :id => "piece_visu_#{i}" }

    .NC_filter{ :style => "width:248px; height:20px" }
      .NC_bottom_page_1.right
        %a.page_select{ :onclick => "go_page_piece('first')", :style => "cursor: pointer;" }
          <
        page
        - (0...5).each do |i|
          %a{ :id => "piece_page_#{i}", :onclick => "go_page_piece(#{i})", :style => "cursor: pointer;" }
            #{i}
        %a.page_select{ :onclick => "go_page_piece('end')", :style => "cursor: pointer;" }
          >

/ %script{ :type => "text/javascript" }
/   $(document).ready(get_Tableau_piece);