/ Vue Index des modeles.
/ wizard création de projet en premier plan
#content
  #bl_5.black.off
  / wizard de creation d'un nouveau modele
  /= render :partial => "modele_nouveau"

  / partie gauche du contenu, raccourci
  #contentleft
    .contentheightmin
    = render :partial => "partials/raccourcis_leftbox"
    = render :partial => "partials/ajouts_leftbox"
  / fin partie gauche du contenu
  
  / partie droite du contenu, tableaux, informations importantes
  #contentright
    #largeBox
      %h2
        Liste des comptes
    #largeBoxcontent
      / taille minimum du contenu du contenu
      .contentheightmin
      / taille minimum du contenu du contenu
      
      /compte de calcul
      = render :partial => "resume_calcul"
      = render :partial => "contenu_calcul"
      
      
  / fin de #contentright, partie droite du contenu
  =javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
  
= render :partial => "footer_top"