-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.manage_pic_nouveau_membre
        = link_to "Retour au workspace", workspace_path(@workspace) 
      %li.manage_pic_nouveau_membre
        = link_to "Retour à la liste des forfaits", :controller => "forfait", :action => "index"

-content_for :right_top do
  %h2.grey
    = @forfait.name 
  .grey
    %p
    %table.grey#forfaits_table
      %thead
        %tr.no_sorter
          %th ID        
          %th nb de jetons
          %th prix par jeton (HT)
          %th prix du forfait (HT)
          %th TVA
          %th prix du forfait (TTC)
          %th validité (mois)
      %tbody
        %tr
          %td=           @forfait.id
          %td=           @forfait.nb_token
          %td=           @forfait.token_price
          %td=           @forfait.global_price
          %td=           @forfait.global_price * 0.196
          %td=           @forfait.global_price * 1.196
          %td=           @forfait.validity


    %button.login_button.yellow_button
      = link_to "sélectionner", :controller => :forfait, :action => :new , :id => @forfait.id

    %p
      %br
