-# encoding: utf-8 
-content_for :left_top do
  .left_submenu
    %h2.grey
    %ul
      %li.manage_pic_edit
        = link_to "Back to workspace", workspace_path(@workspace) 
      %li.manage_pic_compte_abonnement
        = link_to "Back to forfaits", workspace_forfaits_path(current_workspace_member.workspace)

-content_for :right_top do
  %h2.grey
  .grey
    %p
    %table.grey#forfaits_table
      %thead
        %tr.no_sorter
          %th ID        
          %th nb de jetons
          %th prix par jeton (HT)
          %th prix du forfait (HT)
          %th TVA
          %th prix du forfait (TTC)
          %th validité (mois)
      %tbody
        %tr
          %td=           @forfait.id
          %td=           @forfait.nb_token
          %td=           @forfait.token_price
          %td=           @forfait.global_price
          %td=           @forfait.global_price * 0.196
          %td=           @forfait.global_price * 1.196
          %td=           @forfait.validity


    %button.login_button.yellow_button
      = link_to "sélectionner", :controller => :credit, :action => :new , :forfait_id => @forfait.id

    %p
      %br
