-# encoding: utf-8 

-content_for :additionnal_stylesheets do
  = render :partial => "/layouts/ecosyst_science_partials/ecosyst_science_stylesheets"

-content_for :additionnal_javascript do
  = render :partial => "/layouts/ecosyst_science_partials/ecosyst_science_js"
  


/#correli_header.CorreliHeader
#main_window.CorreliWindow

%script{ :type => "text/javascript" }
  SC_MODEL_ID           = #{current_workspace_member.workspace.id}
  SC_WORSPACE_NAME      = '#{@current_workspace_member.workspace.name}'
  SC_WORSPACE_MEMBER_ID = '#{@current_workspace_member.id}'
  SC_USER_ID            = '#{@current_user.id}'
  SC_USER_NAME          = '#{@current_user.full_name}'
  launch_ecosystem_mecanic(document.getElementById("main_window"));