-# encoding: utf-8 
%p
= semantic_form_for @workspace, :url => {:controller => :workspaces, :action => :create}  do |form|
  #workspace_information_table
    %p= form.label :name
    = form.text_field :name
    %p= "Description"
    = form.text_area :public_description
    %p
    %button.login_button.yellow_button{ :type => "submit"}
      Create workspace
    %p
