-content_for :left_top do
  .left_top
    %h2.grey
      Comptes
    %ul
      %li.manage_pic_compte_abonnement
        = link_to 'Nouveau forfait', :controller => "forfait", :action => "index"
      %li.manage_pic_nouveau_membre
        = link_to 'Ajouter un membre', new_workspace_member_path(@workspace)

-content_for :right_top do
  %h2.grey
    = @workspace.name
  .grey
    %p 
      = "Solde du compte de jetons : " + @workspace.token_account.solde_token.to_s
    
-content_for :workspace_content do
  %h2.grey
    Détails du workspace
  .wrapper
    #left_content
      %ul.tab_submenu.js_tab_submenu
        %li 
          %a#tab_1{:href => "#Factures"} Factures
        %li 
          %a#tab_2{:href => "#Compte"} Compte
        %li                    
          %a#tab_3{:href => "#Forfaits"} Forfaits
        %li                    
          %a#tab_4{:href => "#Membres"} Membres
        %li                    
          %a#tab_5{:href => "#Description"} Description
            
    #right_content
      .tab_content.js_tab_content
        #tab_1_content
          %h3 Liste des factures du workspace :
          = render :partial => 'bills/bills_list', :object => @workspace.bills.find(:all, :order => " created_at DESC")
          
        #tab_2_content
          %p Solde du compte de jetons
          %p Compteurs globaux :
          %table.grey
            -#TODO afficher les bonnes valeurs
            %thead
              %tr.no_sorter
                %th Compteur de jetons utilisés
                %th Compteur de jetons achetés
                %th Solde courrant
                %th Jetons réservés
            %tbody
              %tr
                %td= @workspace.token_account.used_token_counter
                %td= @workspace.token_account.purchased_token_counter
                %td= @workspace.token_account.solde_token
                %td= @workspace.token_account.reserved_token
          %p Compte détaillé :
          = render :partial => "workspaces/soldes_list", :object => @soldes
                
        #tab_3_content
          %h3 Liste de vos forfait en cours d utilisation :
          = render :partial => 'credit/credits_list', :object => @credits
                
        #tab_4_content
          = render :partial => "members/search_filter"
          = render :partial => "members/members_list", :object => @workspace.members
          
        #tab_5_content
          %table.grey#workspace_information_table
            %tr
              %th Name
              %td= @workspace.name
            %tr
              %th Description
              %td= @workspace.public_description

      = coffeescript_include_tag "manage_tab"