-content_for :left_top do
  .left_top
    %h2.grey
      Comptes
    %ul
      %li.manage_pic_compte_abonnement
        %a
          Nouveau forfait
      %li.manage_pic_nouveau_membre
        = link_to 'Ajouter un membre', new_workspace_member_path(@workspace)

-content_for :right_top do
  %h2.grey
    = @workspace.name
  .grey
    %p Abonnement
    %p Forfait
    
-content_for :workspace_content do
  %h2.grey
    Détails de la société
  .wrapper
    #left_content
      %ul.tab_submenu.js_tab_submenu  
        %li 
          %a#tab_1{:href => "#Factures"} Factures
        %li 
          %a#tab_2{:href => "#Abonnement"} Abonnement
        %li                    
          %a#tab_3{:href => "#Forfait"} Forfait
        %li                    
          %a#tab_4{:href => "#Membres"} Membres
        %li                    
          %a#tab_5{:href => "#Description"} Description
            
    #right_content
      .tab_content.js_tab_content
        #tab_1_content
          %h3 Liste des factures de la société :
          = render :partial => 'bills/bills_list', :object => @workspace.bills
          
        #tab_2_content
          %p Cet abonnement annuel donne accès à un espace mémoire sur les serveurs de Structure Computation. Il vous permet de stocker les modèles, les résultats de calculs et l'ensemble des informations relatives aux modèles.
          %p Votre abonnement actuel est le suivant :
          %table.grey
            -#TODO afficher les bonnes valeurs
            %thead
              %tr.no_sorter
                %th Mémoire disponnible
                %th Date d'échéance
            %tbody
              %tr
                %td= @workspace.calcul_account.solde_jeton
                %td= @workspace.calcul_account.used_jeton
                
        #tab_3_content
          %p Les forfaits de calcul vous permettent d'utiliser à la demande les outils et la puissance de calcul de Structure Computation (maillage de vos modèles, calcul de structures...). Vous pouvez cumuler plusieurs forfaits.
          %p Dernier relevé :
          %table.grey
            %thead
              %tr.no_sorter
                %th Report de jetons
                %th Jetons standards
                %th Jetons tampons
                %th Date d'échéance
            %tbody
              %tr
                %td= @workspace.calcul_account.report_jeton
                %td= @workspace.calcul_account.base_jeton
                %td= @workspace.calcul_account.base_jeton_tempon
                %td= @workspace.calcul_account.end_date
          %p Votre utilisation actuelle :
          %table.grey
            %thead
              %tr.no_sorter
                %th Solde de jetons standards
                %th Jetons utilisé
            %tbody
              %tr
                %td= @workspace.calcul_account.solde_jeton
                %td= @workspace.calcul_account.used_jeton
                
        #tab_4_content
          = render :partial => "members/search_filter"
          = render :partial => "members/members_list", :object => @workspace.members
          
        #tab_5_content
          %table.grey#workspace_information_table
            %tr
              %th Name
              %td= @workspace.name
            %tr
              %th Public_description
              %td= @workspace.public_description
            %tr
              %th Private_description
              %td= @workspace.private_description   

      = coffeescript_include_tag "manage_tab"