#largeBoxTable_Material
  #largeBoxTable_Material_first
    .largeBoxTable_0{ :style => "width: 21px;" }
    .largeBoxTable_0{ :style => "width: 246px;" }
      %p
        Nom
    .largeBoxTable_0{ :style => "width: 199px;" }
      %p
        Famille
    .largeBoxTable_0{ :style => "width: 100px;" }
      %p
        type
    .largeBoxTable_0{ :style => "width: 100px;" }
      %p
        comportement
    .largeBoxTable_0{ :style => "width: 21px;" }
    
  - (0...20).each do |i|
    .largeBoxTable_lign{ :id => "material_lign_#{i}" }
      .largeBoxTable_lign_pair{ :id => "material_pair_#{i}" }
        %a{ :style => "cursor: pointer;", :onclick => "affich_detail_material(#{i})" }
          .largeBoxTable_Material_1{ :id => "material_1_#{i}" }
        .largeBoxTable_Material_2{ :id => "material_2_#{i}" }
        .largeBoxTable_Material_3{ :id => "material_3_#{i}" }
        .largeBoxTable_Material_4{ :id => "material_4_#{i}" }
        .largeBoxTable_Material_5{ :id => "material_5_#{i}" }
        .largeBoxTable_Material_6{ :id => "material_6_#{i}" }
  / Fin du tableau de présentation des modèles.
