/ Vue Index des materials.
/ Liens vers les CSS
%link{ :href => "/stylesheets/main_material.css", :rel => "stylesheet", :media => "screen" }

/ Javascript particulier a la page material
%script{ :src => "/javascripts/material/functions_layer_material.js" ,   :type => "text/javascript" }
%script{ :src => "/javascripts/material/init_new_material.js" ,   :type => "text/javascript" }

/ wizard création de projet en premier plan
.content
  #bl_5.black.off
  / wizard de creation d'un nouveau material
  = render :partial => "material_nouveau"

  / partie gauche du contenu, raccourci
  #contentleft
    .contentheightmin
    = render :partial => "partials/raccourcis_modele"
    = render :partial => "ajouts_material"
  / fin partie gauche du contenu
  
  / partie droite du contenu, tableaux, informations importantes
  #contentright
    #largeBox
      %h2
        Liste des matériaux
    #largeBoxcontent
      / taille minimum du contenu du contenu
      .contentheightmin
      / taille minimum du contenu du contenu
      
      #MaterialDetail.off
        = render :partial => "material_detail"
      #MaterialListe.on
        = render :partial => "filtre_des_material"
        / liste des projet
        = render :partial => "material_list"
        / fin largeBoxcontent de la liste des projet
      
/ fin de #contentright, partie droite du contenu
%script{ :type => "text/javascript" }
  $(document).ready(filtre_material_change_owner);
  
/= render :partial => "footer_top"