#NC_page_CLs_active_2.off{ :style => "width:674px;" }
  /= render :partial => "calcul/NC_etape_CLs/box_active_time_step"

  %div{ :style => "width:337px; float:left;" }
    .NC_top_active_twin_box{ :style => "margin-top:3px;" }
      CLs sélectionnées
    #NC_CL_active_twin_box_1.NC_active_twin_box.on
      - (0...9).each do |i|
        .tableNC_twin_pair{     :id => "CL_twin_pair_#{i}" }
          .tableNC_twin_box_0{     :id => "CL_twin_1_#{i}" }
            %a{ :id => "CL_twin_1a_#{i}", :onclick => "info_select('CL_twin',#{i})", :style => "cursor: pointer;" }
              %div{                :id => "CL_twin_1r_#{i}"}
              .tableNC_box_1{      :id => "CL_twin_11_#{i}"}
              .tableNC_twin_box_2{ :id => "CL_twin_12_#{i}"}
            %a{ :onclick => "suppr_CL_select(#{i})", :style => "cursor: pointer;" }
              .tableNC_box_suppr
                x
            %a{ :onclick => "visu_CL_select(#{i})",        :style => "cursor: pointer;" }
              .tableNC_box_3{      :id => "CL_twin_13_#{i}"}
            %a{ :onclick => "info_select('CL_twin',#{i})", :style => "cursor: pointer;" }
              .tableNC_box_4{      :id => "CL_twin_14_#{i}"}

      .NC_active_bottom{ :style => "width:333px;" }
        .NC_bottom_page_1.left
          %a.page_select{ :onclick => "go_page_CL_select('first')", :style => "cursor: pointer;" }
            <
          page
          - (0...5).each do |i|
            %a{:id => "CL_twin_1page_#{i}", :onclick => "go_page_CL_select(#{i})", :style => "cursor: pointer;" }
              #{i}
          %a.page_select{ :onclick => "go_page_CL_select('end')",   :style => "cursor: pointer;" }
            >
          /.NC_bottom_page_2.right
          /  %a.NC_bottom_button{ :onclick => "suppr_CL_select()",     :style => "cursor: pointer;" }
          /    supprimer x
            
  %div{ :style => "width:337px; float:left;" }
    .NC_top_active_twin_box{ :style => "margin-top:3px;" }
      Bords associées à la CL active
    #NC_CL_active_twin_box_2.NC_active_twin_box.on
      - (0...9).each do |i|
        .tableNC_twin_pair{     :id => "bord_twin_pair_#{i}" }
          .tableNC_twin_box_0{     :id => "bord_twin_1_#{i}" }
            %a{ :id => "bord_twin_1a_#{i}", :onclick => "info_select('bord_twin',#{i})", :style => "cursor: pointer;" }
              %div{                :id => "bord_twin_1r_#{i}"}
              .tableNC_box_1{      :id => "bord_twin_11_#{i}"}
              .tableNC_twin_box_2{ :id => "bord_twin_12_#{i}"}
            %a{ :onclick => "suppr_bord_select(#{i})", :style => "cursor: pointer;" }
              .tableNC_box_suppr
                x
            %a{ :onclick => "visu_bord_select(#{i})",        :style => "cursor: pointer;" }
              .tableNC_box_3{      :id => "bord_twin_13_#{i}"}
            %a{ :onclick => "info_select('bord_twin',#{i})", :style => "cursor: pointer;" }
              .tableNC_box_4{      :id => "bord_twin_14_#{i}"}

      .NC_active_bottom{ :style => "width:333px;" }
        .NC_bottom_page_1.left
          %a.page_select{ :onclick => "go_page_bord_select('first')", :style => "cursor: pointer;" }
            <
          page
          - (0...5).each do |i|
            %a{:id => "bord_twin_2page_#{i}", :onclick => "go_page_bord_select(#{i})", :style => "cursor: pointer;" }
              #{i}
          %a.page_select{ :onclick => "go_page_bord_select('end')",   :style => "cursor: pointer;" }
            >
          /.NC_bottom_page_2.right
          /  %a.NC_bottom_button{ :onclick => "suppr_bord_select()",     :style => "cursor: pointer;" }
          /    supprimer x
                       
%script{ :type => "text/javascript" }
  affiche_Tableau_CL_select();
  affiche_Tableau_bord_select();