#prop_CLs.off
  .NC_prop_box_titre{ :style => "height:50px" }
    .NC_prop_box_text_0{ :style => "width:130px;" }
      Type :
    #prop_CL_top_name.NC_prop_box_text_2{ :style => "width:400px;" }
      CL 1
    .NC_prop_box_text_0{ :style => "width:130px;" }
      S'applique sur :
    .NC_prop_box_text_0{ :style => "width:400px;" }
      #prop_CL_top_apply_on.NC_prop_box_text_1_in
  #prop_CL_generique.NC_prop_box.on
    .NC_prop_box_text_titre{ :style => "width:95px;" }
      Pour ce calcul
    .NC_prop_box_text_1{ :style => "width:80px;" }
      Nom :
    .NC_prop_box_text_1{ :style => "width:300px;" }
      %input#prop_CL_name_select{ :type => "text", :value => "100", :onKeyup => "prop_CL_change_value()" }
    .NC_prop_box_text_1{ :style => "width:150px;" }
    .NC_prop_box_text_titre{ :style => "width:95px;" }
    .NC_prop_box_text_1{ :style => "width:80px;" }
      Description :
    .NC_prop_box_text_3{ :style => "width:455px;" }
      %textarea#prop_CL_description{ :onKeyup => "prop_CL_change_value()", :style => "width:445px;" }
    #prop_CL_v1
      /  acceleration
      - (0...20).each do |i|
        .NC_prop_line_top{ :name => "prop_CL_step_#{i}" }
          / acceleration
          %div{ :name => "prop_dim_0" }
            .NC_prop_box_text_1{ :style => "width:160px;" }
              fonction spaciale (x,y,z) :
          %div{ :name => "prop_dim_1" }
            .NC_prop_box_text_1{ :style => "width:50px;" }
              %p
                Fx =
            .NC_prop_box_text_1{ :style => "width:100px;" }
              %input{:id => "prop_CL_Fx_#{i}", :type => "text", :value => "100", :onKeyup => "prop_CL_change_value()" }
          %div{ :name => "prop_dim_2" }
            .NC_prop_box_text_1{ :style => "width:50px;" }
              %p
                Fy =
            .NC_prop_box_text_1{ :style => "width:100px;" }
              %input{:id => "prop_CL_Fy_#{i}", :type => "text", :value => "100", :onKeyup => "prop_CL_change_value()" }
          %div{ :name => "prop_dim_3" }
            .NC_prop_box_text_1{ :style => "width:50px;" }
              %p
                Fz =
            .NC_prop_box_text_1{ :style => "width:100px;" }
              %input{:id => "prop_CL_Fz_#{i}", :type => "text", :value => "100", :onKeyup => "prop_CL_change_value()" }
          %div{ :name => "prop_dim_0" }
            .NC_prop_box_text_1{ :style => "width:160px;" }
              fonction temporelle (t) :
          %div{ :name => "prop_dim_1", :style => "width:488px;" }
            .NC_prop_box_text_1{ :style => "width:50px;" }
              %p
                ft =
            .NC_prop_box_text_1{ :style => "width:317px;" }
              %input{:id => "prop_CL_ft_#{i}", :type => "text", :value => "100", :onKeyup => "prop_CL_change_value()" }