-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_new_model
        = link_to "Retour au workspace", workspace_path(@workspace)  

-content_for :right_top do
  %h2.grey
    Liste des applications
  %div
    = render :partial => "search_filter"

-content_for :workspace_content do
  %table.grey#applications_table
    %thead
      %tr
        %th.no_sorter
        %th Id
        %th Nom
        %th Description
        %th powered_by
        %th prix d achat
        %th Prix d utilisation
        %th Prix de distribution
       
    %tbody
      - @applications.each do |app|
        %tr
          %td.escape_search.details_link= link_to "Ajouter", :controller => "workspaces", :action => "add_application", :application_id => app.id
          %td= app.id
          %td= app.name
          %td= app.description
          %td= app.powered_by
          %td= app.registration_token
          %td= app.utilization_token
          %td= app.distribution_token
