/ contenu
#ModelContent.largeBoxContentCompte1
  / menu du compte calcul
  .CompteMenu
    %ul
      %li#MenuCompanyFactures.selected
        %a{ :onclick => "affich_Factures()", :style => "cursor: pointer;" }
          Factures
      %li#MenuCompanyAbonnement
        %a{ :onclick => "affich_Abonnement()", :style => "cursor: pointer;" }
          Abonnement
      %li#MenuCompanyForfait
        %a{ :onclick => "affich_Forfait()", :style => "cursor: pointer;" }
          Forfait
      %li#MenuCompanyGestionnaires
        %a{ :onclick => "affich_Gestionnaires()", :style => "cursor: pointer;" }
          Gestionnaires
      %li#MenuCompanyDescription
        %a{ :onclick => "affich_Description()", :style => "cursor: pointer;" }
          Description

  .CompteContent
    .CompteContentHeightMin
    = render :partial => "sc_admin_detail_workspace/factures/cadre_factures"
    = render :partial => "sc_admin_detail_workspace/abonnement/cadre_abonnement"
    = render :partial => "sc_admin_detail_workspace/forfait/cadre_forfait"
    = render :partial => "sc_admin_detail_workspace/gestionnaires/cadre_gestionnaires"
    = render :partial => "sc_admin_detail_workspace/description/cadre_description"

#footer_top_2
  %a{ :href => "/sc_admin_workspace" }
    #footer_top_fleche_retour
    retour à la liste des sociétés
  
  
  
  
  
  
  
  
  
  
  
/ fin menu compte calcul
/ fin du contenu