#NC_page_materiaux_active_2.off{ :style => "width:674px;" }
  %div{ :style => "width:337px; float:left;" }
    .NC_top_active_twin_box{ :style => "margin-top:3px;" }
      Matériaux sélectionnés
    #NC_mat_active_twin_box_1.NC_active_twin_box.on
      - (0...9).each do |i|
        .tableNC_twin_pair{     :id => "mat_twin_pair_#{i}" }
          .tableNC_twin_box_0{     :id => "mat_twin_1_#{i}" }
            %a{ :id => "mat_twin_1a_#{i}", :onclick => "active_mat_select(#{i})", :style => "cursor: pointer;" }
              %div{                :id => "mat_twin_1r_#{i}"}
              .tableNC_box_1{      :id => "mat_twin_11_#{i}"}
              .tableNC_twin_box_2{ :id => "mat_twin_12_#{i}"}
            %a{ :onclick => "suppr_mat_select(#{i})", :style => "cursor: pointer;" }
              .tableNC_box_suppr
                x
            %a{ :onclick => "visu_mat_select(#{i})",        :style => "cursor: pointer;" }
              .tableNC_box_3{      :id => "mat_twin_13_#{i}"}
            %a{ :onclick => "info_select('mat_twin',#{i})", :style => "cursor: pointer;" }
              .tableNC_box_4{      :id => "mat_twin_14_#{i}"}

      .NC_active_bottom{ :style => "width:333px;" }
        .NC_bottom_page_1.left
          %a.page_select{ :onclick => "go_page_mat_select('first')", :style => "cursor: pointer;" }
            <
          page
          - (0...5).each do |i|
            %a{:id => "mat_twin_1page_#{i}", :onclick => "go_page_mat_select(#{i})", :style => "cursor: pointer;" }
              #{i}
          %a.page_select{ :onclick => "go_page_mat_select('end')",   :style => "cursor: pointer;" }
            >
            
  %div{ :style => "width:337px; float:left;" }
    .NC_top_active_twin_box{ :style => "margin-top:3px;" }
      Pièces associées au matériau actif
    #NC_mat_active_twin_box_2.NC_active_twin_box.on
      - (0...9).each do |i|
        .tableNC_twin_pair{     :id => "piece_twin_pair_#{i}" }
          .tableNC_twin_box_0{     :id => "piece_twin_1_#{i}" }
            %a{ :id => "piece_twin_1a_#{i}", :onclick => "active_piece_select(#{i})", :style => "cursor: pointer;" }
              %div{                :id => "piece_twin_1r_#{i}"}
              .tableNC_box_1{      :id => "piece_twin_11_#{i}"}
              .tableNC_twin_box_2{ :id => "piece_twin_12_#{i}"}
            %a{ :onclick => "suppr_piece_select(#{i})", :style => "cursor: pointer;" }
              .tableNC_box_suppr
                x
            %a{ :onclick => "view_piece_select(#{i})",        :style => "cursor: pointer;" }
              .tableNC_box_visu{      :id => "piece_twin_visu_#{i}"}
            %a{ :onclick => "info_select('piece_twin',#{i})", :style => "cursor: pointer;" }
              .tableNC_box_4{      :id => "piece_twin_14_#{i}"}

      .NC_active_bottom{ :style => "width:333px;" }
        .NC_bottom_page_1.left
          %a.page_select{ :onclick => "go_page_piece_select('first')", :style => "cursor: pointer;" }
            <
          page
          - (0...5).each do |i|
            %a{:id => "piece_twin_2page_#{i}", :onclick => "go_page_piece_select(#{i})", :style => "cursor: pointer;" }
              #{i}
          %a.page_select{ :onclick => "go_page_piece_select('end')",   :style => "cursor: pointer;" }
            >
          /.NC_bottom_page_2.right
          /  %a.NC_bottom_button{ :onclick => "suppr_piece_select()",     :style => "cursor: pointer;" }
          /    supprimer x
                       
%script{ :type => "text/javascript" }
  affiche_Tableau_mat_select();
  affiche_Tableau_piece_select();