#NC_page_materiaux_1.off
  .NC_top_box
    Bibliothèque des matériaux
  #page_mat_12.NC_box
    .NC_filter{ :style => "width:248px; height:120px" }
    /  <?php include("./contenu/NC_etape_materiaux/NC_filter_mat.php");  ?>
    - (0...20).each do |i|
      .tableNC_impair
        .tableNC_box_0{ :id => "mat_1_#{i}" }
          %a{ :id => "mat_1a_#{i}", :onclick => "select_mat(#{i})", :style => "cursor: pointer;" }
            .tableNC_box_1{ :id => "mat_11_#{i}" }
            .tableNC_box_2{ :id => "mat_12_#{i}" }
          %a{ :onclick => "", :style => "cursor: pointer;" }
            .tableNC_box_4{ :id => "mat_14_#{i}" }

    .NC_filter{ :style => "width:248px; height:20px" }
      .NC_bottom_page_1.left
        %a.page_select{ :onclick => "go_page_mat('first')", :style => "cursor: pointer;" }
          <
        page
        - (0...5).each do |i|
          %a{ :id => "mat_page_#{i}", :onclick => "go_page_mat(#{i})", :style => "cursor: pointer;" }
            #{i}
        %a.page_select{ :onclick => "go_page_mat('end')", :style => "cursor: pointer;" }
          >
-# %script{ :type => "text/javascript" }
-#   $(document).ready(get_Tableau_mat);