-content_for :left_top do
  .left_top
    %h2.grey
      Comptes
    %ul
      %li.manage_pic_compte_abonnement
        %a
          Nouveau forfait
      %li.manage_pic_nouveau_membre
        = link_to 'Ajouter un membre', new_company_member_path(@user)
      %li.manage_pic_nouveau_membre
        = link_to 'Editer', edit_sc_admin_user_path(@user)

-content_for :right_top do
  %h2.grey
    = @user.firstname + "  " + @user.lastname
  .grey
    %p email : #{@user.email}
    %p ID : #{@user.id}
    
-content_for :workspace_content do
  %h2.grey
    Détails de l utilisateur
  .wrapper
    #left_content
      %ul.tab_submenu.js_tab_submenu  
        %li                    
          %a#tab_1{:href => "#Companies"} Sociétés
        %li                    
          %a#tab_2{:href => "#Workspaces"} Workspaces
        
            
    #right_content
      .tab_content.js_tab_content
        #tab_1_content
          = render :partial => "company/search_filter"
          = render :partial => "sc_admin_company/companies_list", :object => @user.companies
          
        #tab_2_content
          = render :partial => "workspaces/search_filter"
          = render :partial => "sc_admin_workspace/workspaces_list", :object => @user.workspaces

      = coffeescript_include_tag "manage_tab"