
#largeBoxTable_Membre
  #largeBoxTable_Membre_first
    #membre_0_1.largeBoxTable_Membre_0{ :style => "width: 21px;" }
    #membre_0_2.largeBoxTable_Membre_0{ :style => "width: 246px;" }
      %p
        Mail
    #membre_0_3.largeBoxTable_Membre_0{ :style => "width: 196px;" }
      %p
        Nom
    #membre_0_4.largeBoxTable_Membre_0{ :style => "width: 148px;" }
      %p
        Rôle
    #membre_0_5.largeBoxTable_Membre_0{ :style => "width: 60px;" }
      %p
        Statut
    #membre_0_6.largeBoxTable_Membre_0{ :style => "width: 21px;" }
    
  - (0...20).each do |i|
    .largeBoxTable_Membre_lign{ :id => "membre_lign_#{i}" }
      .largeBoxTable_Membre_lign_pair{ :id => "membre_pair_#{i}" }
        %a{ :style => "cursor: pointer;", :onclick => "affich_detail_membre(#{i})" }
          .largeBoxTable_Membre_1{ :id => "membre_1_#{i}" }
        .largeBoxTable_Membre_2{ :id => "membre_2_#{i}" }
        .largeBoxTable_Membre_3{ :id => "membre_3_#{i}" }
        .largeBoxTable_Membre_4{ :id => "membre_4_#{i}" }
        .largeBoxTable_Membre_5{ :id => "membre_5_#{i}" }
        .largeBoxTable_Membre_6{ :id => "membre_6_#{i}" }
  / Fin du tableau de présentation des modèles.