-# encoding: utf-8 

-content_for :workspace_content do
  %div.loginMarge
  %div.grey.centered
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      #login_format
        = f.hidden_field :reset_password_token
        %p= f.label :password
        = f.password_field :password

        %p= f.label :password_confirmation
        = f.password_field :password_confirmation
        %p
        %p= f.submit "Change my password"

    %br
    %div.loginLeft
      =link_to "back to login page", destroy_user_session_path