-# encoding: utf-8 
-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.manage_pic_nouveau_membre
        =link_to 'Page de login', new_session_path(resource_name)

-content_for :right_top do
  %h2.grey
    Change your password 
  .grey
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      #login_format
        = f.hidden_field :reset_password_token
        %p= f.label :password
        = f.password_field :password

        %p= f.label :password_confirmation
        = f.password_field :password_confirmation
        %p
        %p= f.submit "Change my password"
        %p
          %br
