.search_filter
  %p
    %label{:for => "bills_search_filter"} Recherche
    %input#bills_search_filter{:type => "text"}

%table.grey#bills_table
  %thead
    %tr
      %th.no_sorter
      %th Référence
      %th Type
      %th Prix HT(Euros)
      %th Prix TTC(Euros)
      %th Status
  %body
    - bills_list.each do |bill|
      %tr
        %td.escape_search.details_link= link_to "Détails", [@workspace, bill]      
        %td= bill.ref
        %td= bill.bill_type
        %td= bill.total_price_HT
        %td= bill.total_price_TTC
        %td= bill.statut

:coffeescript
  $( ->
    $('#bills_table').tablesorter()

    searchFilter("bills_table", "bills_search_filter")
  )
