-# encoding: utf-8 
.search_filter
  %p
    %label{:for => "bills_search_filter"} Recherche
    %input#bills_search_filter{:type => "text"}

%table.grey#bills_table
  %thead
    %tr
      %th.no_sorter
      %th Référence
      %th Type
      %th Prix HT(Euros)
      %th Prix TTC(Euros)
      %th Status
      %th.no_sorter Actions
  %body
    - bills_list.each do |bill|
      %tr
        %td.escape_search.details_link= link_to "Détails", [@workspace, bill]      
        %td= bill.ref
        %td= bill.bill_type
        %td= bill.total_price_HT
        %td= bill.total_price_TTC
        %td= bill.statut
        %td.action_on_table.escape_search
          -if bill.statut != "canceled"
            %ul
              %li 
                = link_to "pdf", download_bill_workspace_bill_path(@workspace, bill)
              -if bill.statut != "paid"
                %li
                  /= button_to "Annuler", cancel_workspace_bill_path(@workspace, bill), :confirm => "Êtes-vous sûr ?"
                  = button_to "Annuler", {:controller => :bills, :action => :cancel, :id => bill.id}, :confirm => "Êtes-vous sûr ?"
                %li 
                  = link_to "payer en ligne",  :controller => :bills, :action => :pay, :id => bill.id

:coffeescript
  $( ->
    $('#bills_table').tablesorter()

    searchFilter("bills_table", "bills_search_filter")
  )
