%table.grey
  %thead
    %tr
      %td Référence
      %td Type
      %td Prix HT(Euros)
      %td Prix TTC(Euros)
      %td Status
      %td
  %body
    - factures_list.each do |bill|
      %tr
        %td= bill.ref
        %td= bill.facture_type
        %td= bill.total_price_HT
        %td= bill.total_price_TTC
        %td= bill.statut
        %td= link_to "Détails", [@company, bill]