-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.manage_pic_compte_memoire
        = link_to "Nouvel abonnement", company_sc_models_path(@company) 
      %li.manage_pic_compte_abonnement
        = link_to "Nouveau forfait", company_sc_models_path(@company)
                 
-content_for :right_top do
  %h2.grey
    Liste des factures
  %div
    = render "search_filter"

-content_for :company_content do
  %table.grey
    %thead
      %tr
        %td Référence
        %td Type
        %td Prix HT(Euros)
        %td Prix TTC(Euros)
        %td Status
        %td
    %body
      - @bills.each do |bill|
        %tr
          %td= bill.ref
          %td= bill.facture_type
          %td= bill.total_price_HT
          %td= bill.total_price_TTC
          %td= bill.statut
          %td= link_to "Détails", [@company, bill]
