-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.manage_pic_liste_factures
        = link_to "Retour à la liste des factures", company_bills_path(@company) 
      %li.manage_pic_liste_factures
        = link_to "Télécharger la facture", download_bill_company_bill_path(@company, @bill)
        
-content_for :right_top do
  %h2.grey
    Référence Facture : 
    = @bill.ref
  .grey
    %p
      Date :
      /TODO: Quelle date ?
      = @bill.created_at
      Status :
      = @bill.statut
    
    %h4
      Gestionaire :
    %p
      = @manager.firstname
      = @manager.lastname
    %p
      = @company.name
      = @company.division
    %p 
      = @company.address
      = @company.zipcode
      = @company.city
      = @company.country

-content_for :company_content do
  = render :partial => 'facture_detail', :object => @bill
