-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.manage_pic_liste_factures
        = link_to "Retour à la liste des factures", workspace_path(@workspace, :anchor => 'Factures') 
      %li.manage_pic_liste_factures
        = link_to "Télécharger la facture", download_bill_workspace_bill_path(@workspace, @bill)
        
-content_for :right_top do
  %h2.grey
    Référence Facture : 
    = @bill.ref
  .grey
    %p
      Date :
      /TODO: Quelle date ?
      = @bill.created_at
      Status :
      = @bill.statut
    
    %h4
      Gestionaire :
    %p
      = @manager.firstname
      = @manager.lastname
    %p
      = @workspace.name
      = @workspace.division
    %p 
      = @workspace.address
      = @workspace.zipcode
      = @workspace.city
      = @workspace.country

-content_for :workspace_content do
  = render :partial => 'bill_detail', :object => @bill
