= semantic_form_for [@workspace, @sc_model] do |f|
  - f.inputs do
    = f.input :dimension, :as => :select, :collection => [["3D", 3]], :include_blank => false
    = f.input :name
    = f.input :description
    = f.input :state,       :as => :hidden, :value => "void"
    = f.input :workspace_id,  :as => :hidden, :value => current_workspace_member.workspace.id

  = f.buttons