.search_filter
  %p
    %label{:for => "results_search_filter"} Recherche
    %input#results_search_filter{:type => "text"}

%table.grey#results_table
  %thead
    %tr
      %th Date
      %th Nom
      %th Statut
      %th.no_sorter Actions
  %tbody
    - results_list.each do |result|
      %tr
        %td= result.result_date.to_date() unless result.result_date.nil?
        %td= result.name ? result.name : 'Undefined'
        %td= result.state
        %td.action_on_table
          %ul
            %li
              = link_to "Voir"
            -if !result.log_tool.nil? and result.log_tool.finish?()   
              %li
                = link_to "Télécharger"
            %li
              = button_to "Supprimer", sc_model_calcul_path(@sc_model, result), :method => :delete, :confirm => "Êtes-vous sûr ?"

:coffeescript
  $( ->
    $('#results_table').tablesorter()

    searchFilter("results_table", "results_search_filter")
  )