.search_filter
  %p
    %label{:for => "results_search_filter"} Recherche
    %input#results_search_filter{:type => "text"}

%table.grey#results_table
  %thead
    %tr
      %th Date
      %th Id
      %th Nom
      %th Statut
      %th.no_sorter Actions
  %tbody
    - results_list.each do |result|
      %tr
        %td= result.result_date.to_date() unless result.result_date.nil?
        %td= result.id
        %td= result.name ? result.name : 'Undefined'
        %td= result.state
        %td.action_on_table
          %ul
            %li
              = link_to "Scills", sc_model_calculs_path(@sc_model)
            -if !result.log_tool.nil? and result.log_tool.finish?()   
              %li
                = link_to "Télécharger", :controller => :sc_models, :action => :download_result, :id => @sc_model.id, :id_result => result.id

:coffeescript
  $( ->
    $('#results_table').tablesorter()

    searchFilter("results_table", "results_search_filter")
  )