%tr
  %td
    = link_to 'Détails', company_sc_model_path(@company, sc_model)
  %td= sc_model.name
  %td= sc_model.project
  %td= sc_model.results
  %td v
  %td c
  %td= link_to "Editer", edit_company_sc_model_path(@company, sc_model)
