-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_new_model
        = link_to "Nouveau modèle", new_company_sc_model_path  

-content_for :right_top do
  %h2.grey
    Liste des modèles 
  %div
    = render :partial => "search_filter"
  
-content_for :company_content do
  %table.grey
    %thead
      %tr
        %th
        %th                  Nom
        %th                  Projet
        %th                  Résultat
        %th                  Visu
        %th{ :colspan => 2 } Calcul
    %tbody
      - @sc_models.each do |sc_model|
        %tr
          %td
            = link_to 'Détails', company_sc_model_path(@company, sc_model)
          %td= sc_model.name
          %td= sc_model.project
          %td= sc_model.results
          %td v
          %td c
          %td= button_to 'X', company_sc_model_path(@company, sc_model), :method => :delete
