-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_new_model
        = link_to "Nouveau modèle", new_company_sc_model_path  

-content_for :right_top do
  %h2.grey
    Liste des modèles 
  %div
    = render :partial => "search_filter"

-content_for :company_content do
  %table.grey#models_table
    %thead
      %tr
        %th.no_sorter
        %th Nom
        %th ID
        %th Projet
        %th Résultat
        %th.no_sorter Actions
    %tbody
      - @sc_models.each do |sc_model|
        %tr
          %td.details_link
            = link_to 'Détails', company_sc_model_path(@company, sc_model)
          %td.name= sc_model.name ? sc_model.name : 'Undefined'
          %td.id= sc_model.id
          %td.project= sc_model.project ? sc_model.project : 'Undefined'
          %td.result= sc_model.results
          %td.action_on_table
            %ul
              %li
                %a Visualisation
              %li
                %a Calcul
              %li
                = link_to 'Supprimer', company_sc_model_path(@company, sc_model), :method => :delete
