-# encoding: utf-8 


-content_for :workspace_content do
  .grey
    %h2
      Worspace members
    .search_filter
      %p
        %label{:for => "search_filter"} Recherche
        %input#search_filter{:type => "text"}
    
    %table#members_table.grey
      %thead
        %tr
          %th.no_sorter
          %th Mail
          %th Nom
          %th Role
          %th Status
      %tbody
        - @members_list.each do |member|
          %tr
            %td.escape_search.details_link= link_to "ajouter", :controller => :sc_models, :action => :valid_share, :id => @sc_model.id, :member_id => member.id
            %td= member.email
            %td= member.firstname
            %td= member.role
            %td= member.state

:coffeescript
    $( ->
      $("member_table").tablesorter()
      searchFilter("members_table", "search_filter")
    )
          
 
