-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_model
        = link_to "Retour à la liste de modèles", workspace_sc_models_path(@workspace) 

-content_for :right_top do
  %h2.grey
    Détail du modèle : 
    = @sc_model.name
  .grey  
    %table.grey#modele_details
      %tbody
        %tr
          %th Dimension
          %td= @sc_model.dimension
        %tr
          %th Nombre d'élèments
          %td= @sc_model.parts
        %tr
          %th Nombre de pièces
          %td= @sc_model.parts
        %tr
          %th Nombre de liaisons
          %td= @sc_model.interfaces

-content_for :left_content do

  %ul.tab_submenu.js_tab_submenu
    %li 
      %a#tab_1.selected{:href => "#Outils"} Outils
    %li 
      %a#tab_2{:href => "#Résultats"} Résultats
    %li 
      %a#tab_3{:href => "#Utilisateurs"} Utilisateurs
                   
-content_for :workspace_content do
  %h2.grey
    Modèle : 
    = @sc_model.name
  .wrapper
    #left_content
      %ul.tab_submenu.js_tab_submenu
        %li 
          %a#tab_1.selected{:href => "#Outils"} Outils
        %li 
          %a#tab_2{:href => "#Résultats"} Résultats
        %li 
          %a#tab_3{:href => "#Utilisateurs"} Utilisateurs
                       
    #right_content
      .tab_content.js_tab_content
        #tab_1_content.show
          %h3
            Pour accéder aux outils, vous devez d'abord charger un maillage pour ce modèle
          %p
            Charger votre maillage
          - semantic_form_for [@workspace, @sc_model], :url => {:controller => "sc_models", :action => "load_mesh"}, :html => {:multipart => true, :method => :post} do |f|
            = f.inputs do
              = f.input :file, :as => :file
            = f.buttons
          %ul
            %li= link_to "Calcul des structures", sc_model_calculs_path(@sc_model) #:controller => "calculs", :action => "index", :model_id => @sc_model.id
            %li= link_to "Visualisation"        , :controller => "visualisations", :action => "index", :model_id => @sc_model.id
            %li= link_to "Partager un fichier"
        #tab_2_content.hide
          %h3 Liste des résultats
          .search_filter
            %p
              %label{:for => "results_search_filter"} Recherche
              %input#results_search_filter{:type => "text"}
          %table.grey#results_table
            %thead
              %tr
                %th Date
                %th Nom
                %th.no_sorter Actions
            %tbody
              - @sc_model.calcul_results.each do |result|
                %tr
                  %td= result.result_date
                  %td= result.name ? result.name : 'Undefined'
                  %td.action_on_table
                    %ul
                      %li
                        = link_to "Voir"
                      %li
                        = link_to "Télécharger"
                      %li
                        = link_to "Supprimer", :controller => "calcul_results", :action => "destroy"
        #tab_3_content.hide
          %h3 Liste des utilisateurs ayant accès à ce modèle
          .search_filter
            %p
              %label{:for => "users_search_filter"} Recherche
              %input#users_search_filter{:type => "text"}
          %table.grey#users_table
            %thead
              %tr
                %th E-mail
                %th Nom
                %th Role
            %tbody
              - @sc_model.model_ownerships.each do |ownerships|
                %tr
                  %td
                    = ownerships.workspace_member.user.email
                  %td
                    = ownerships.workspace_member.user.firstname
                  %td
                    = ownerships.rights
        = coffeescript_include_tag "manage_tab"

:coffeescript
  $( ->
    $('#results_table').tablesorter()
    $('#users_table').tablesorter()

    searchFilter("results_table", "results_search_filter")
    searchFilter("users_table", "users_search_filter")
  )
