%p
  Description
  = text_area :material, :description, :value => material.description, :disabled => disabled
- if material.mtype == "orthotrope"
  %table
    %thead
      %tr.light_grey
        %th Directions principales
        %th Selon V1
        %th Selon V2 
        %th Selon V3
    %tbody
      %tr.grey
        %th 
        %td
          %label V1(x) = 
          = text_field :material, :dir_1_x, :value => material.dir_1_x, :disabled => disabled
        %td
          %label V2(x) = 
          = text_field :material, :dir_2_x, :value => material.dir_2_x, :disabled => disabled
        %td
          %label V3(x) = 
          = text_field :material, :dir_3_x, :value => material.dir_3_x, :disabled => disabled
      %tr.light_grey
        %th
        %td
          %label V1(y) = 
          = text_field :material, :dir_1_y, :value => material.dir_1_y, :disabled => disabled
        %td
          %label V2(y) = 
          = text_field :material, :dir_2_y, :value => material.dir_2_y, :disabled => disabled
        %td
          %label V3(y) = 
          = text_field :material, :dir_3_y, :value => material.dir_3_y, :disabled => disabled
      %tr.grey
        %th
        %td
          %label V1(z) = 
          = text_field :material, :dir_1_y, :value => material.dir_1_z, :disabled => disabled
        %td
          %label V2(z) = 
          = text_field :material, :dir_2_y, :value => material.dir_2_z, :disabled => disabled
        %td
          %label V3(z) = 
          = text_field :material, :dir_3_y, :value => material.dir_3_z, :disabled => disabled
        