%p
  Description
  = text_area :material, :description, :value => material.description, :disabled => disabled
- if material.mtype == "orthotrope"
  %h3 Directions principales
  %table.grey
    %thead
      %tr
        %th Selon V1
        %th Selon V2 
        %th Selon V3
    %tbody
      %tr 
        %td
          = label :material, :dir_1_x, "V1(x) = "
          = text_field :material, :dir_1_x, :value => material.dir_1_x, :disabled => disabled
        %td
          = label :material, :dir_2_x, "V2(x) = "
          = text_field :material, :dir_2_x, :value => material.dir_2_x, :disabled => disabled
        %td
          = label :material, :dir_3_x, "V3(x) = "
          = text_field :material, :dir_3_x, :value => material.dir_3_x, :disabled => disabled
      %tr
        %td
          = label :material, :dir_1_y, "V1(y) = "
          = text_field :material, :dir_1_y, :value => material.dir_1_y, :disabled => disabled
        %td
          = label :material, :dir_2_y, "V2(y) = "
          = text_field :material, :dir_2_y, :value => material.dir_2_y, :disabled => disabled
        %td
          = label :material, :dir_3_y, "V3(y) = "
          = text_field :material, :dir_3_y, :value => material.dir_3_y, :disabled => disabled
      %tr
        %td
          = label :material, :dir_1_z, "V1(z) = "
          = text_field :material, :dir_1_y, :value => material.dir_1_z, :disabled => disabled
        %td
          = label :material, :dir_2_z, "V2(z) = "
          = text_field :material, :dir_2_y, :value => material.dir_2_z, :disabled => disabled
        %td
          = label :material, :dir_3_z, "V3(z) = "
          = text_field :material, :dir_3_y, :value => material.dir_3_z, :disabled => disabled
        