/ TODO !!!!!!!!!!! CHANGER LES VALEURS DES CHAMPS. Elles ne sont pas adapté à celle présente en BDD
%h3 Plasticité
- if material.mtype == "orthotrope"
  %table
    %thead
      %tr.light_grey
        %th
        %th Selon V1
        %th Selon V2 
        %th Selon V3
    %tbody
      %tr.grey
        %th Limite de plasticité
        %td 
          = label :material, :sigma_p_1, "Sp1"
          = text_field :material, :sigma_p_1, :value => material.sigma_p_1, :disabled => disabled
        %td 
          = label :material, :sigma_p_2, "Sp2"
          = text_field :material, :sigma_p_2, :value => material.sigma_p_2, :disabled => disabled
        %td 
          = label :material, :sigma_p_2, "Sp3"
          = text_field :material, :sigma_p_3, :value => material.sigma_p_3, :disabled => disabled
      %tr.light_grey
        %th Taux de plastification
        %td
          = label :material, :dp_1, "dp1"
          = text_field :material, :dp_1, :value => "TODO", :disabled => disabled
        %td 
          = label :material, :dp_2, "dp2"
          = text_field :material, :dp_2, :value => "TODO", :disabled => disabled
        %td 
          = label :material, :dp_3, "dp3"
          = text_field :material, :dp_3, :value => "TODO", :disabled => disabled
      %tr.grey
        %th Déformation plastique
        %td 
          = label :material, :p_1, "p1"
          = text_field :material, :p_1, :value => material.p_1, :disabled => disabled
        %td 
          = label :material, :p_2, "p1"
          = text_field :material, :p_2, :value => material.p_2, :disabled => disabled
        %td 
          = label :material, :p_3, "p3"
          = text_field :material, :p_3, :value => material.p_3, :disabled => disabled

- elsif material.mtype == "isotrope"
  %table
    %tbody
      %tr.light_grey
        %th Limite de plasticité
        %td 
          = label :material, :sigma_p_1, "Sp1"
          = text_field :material, :sigma_p_1, :value => material.sigma_p_1, :disabled => disabled
      %tr.grey
        %th Taux de plastification
        %td 
          = label :material, :dp_1, "dp1"
          = text_field :material, :dp_1, :value => material.dp_1, :disabled => disabled
      %tr.light_grey
        %th Déformation plastique
        %td 
          = label :material, :p_1, "p1"
          = text_field :material, :p_1, :value => material.p_1, :disabled => disabled
