%table.grey
  %tbody
    %tr
      %th
        = label_tag("Nom")
      %td
        = text_field(:material, :name)
    %tr
      %th
        = label_tag("Famille")
      %td
        = text_field(:material, :family)  
    %tr
      %th
        = label_tag("Description")
      %td
        = text_field(:material, :description)  
