-# encoding: utf-8 
- disabled = false if disabled.nil?
- show_all = false if show_all.nil?

%h2 Propriétés mécanique
%h3 Type
%p
  Isotrope
  = radio_button_tag "material_mtype", "isotrope"  , (!@material.mtype.nil? and @material.mtype.include?("isotrope")), {:disabled => true}
  Orthotrope
  = radio_button_tag "material_mtype", "orthotrope", (!@material.mtype.nil? and @material.mtype.include?("orthotrope")), {:disabled => true}


%h3 Comportement
%p
  Elastique
  = check_box_tag "material_comp_el", "el", @material.comp.include?("el"), :disabled => true
  Plastique
  = check_box_tag "material_comp_pl", "pl", @material.comp.include?("pl"), :disabled => true
  Endommageable
  = check_box_tag "material_comp_en", "en", @material.comp.include?("en"), :disabled => true
  Mésomodèle
  = check_box_tag "material_comp_mes", "mes", @material.comp.include?("mes"), :disabled => true

%h2 Propriétés physiques
%h3 Masse volumique / Densité
%table.grey
  %tbody
    %tr.no_sorter
      %th Masse volumique / Densité (&rho;)
      %td= custom_text_field(:material, :rho, "&rho;￼", disabled)


- if @material.mtype == "orthotrope" or show_all
  %h3 Directions principales
  %table.grey
    %thead
      %tr.no_sorter
        %th
        %th Selon V1
        %th.orthotropic_information Selon V2 
        %th.orthotropic_information Selon V3
    %tbody
      %tr
        %th x
        %td= custom_text_field(:material, :dir_1_x, "x1", disabled)
        %td.orthotropic_information= custom_text_field(:material, :dir_2_x, "x2", disabled)
        %td.orthotropic_information= custom_text_field(:material, :dir_3_x, "x3", disabled)
      %tr
        %th y 
        %td= custom_text_field(:material, :dir_1_y, "y1", disabled)
        %td.orthotropic_information= custom_text_field(:material, :dir_2_y, "y2", disabled)
        %td.orthotropic_information= custom_text_field(:material, :dir_3_y, "y3", disabled)
      %tr
        %th z
        %td= custom_text_field(:material, :dir_1_z, "z1", disabled)
        %td.orthotropic_information= custom_text_field(:material, :dir_2_z, "z2", disabled)
        %td.orthotropic_information= custom_text_field(:material, :dir_3_z, "z3", disabled)
     
%h2 Propriétés thermiques
%h3 Dilatation thermique
        
%table.grey
  %thead
    %tr.no_sorter
      %th
      %th Selon V1
      - if @material.mtype == "orthotrope" or show_all
        %th.orthotropic_information Selon V2
        %th.orthotropic_information Selon V3
  %tbody
    %tr
      %th Dilatation thermique (&alpha;)
      %td= custom_text_field(:material, :alpha_1, "&alpha;1", disabled)
      - if @material.mtype == "orthotrope" or show_all
        %td.orthotropic_information= custom_text_field(:material, :alpha_2, "&alpha;￼2", disabled)
        %td.orthotropic_information= custom_text_field(:material, :alpha_3, "&alpha;3", disabled) 
