%table
  %thead
    %tr.light_grey
      %th Directions principales
      %th Selon V1
      %th Selon V2 
      %th Selon V3
  %tbody
    %tr.grey
      %th 
      %td
        %label V1(x) = 
        %input{:disabled => true, :value => "#{material.dir_1_x}"}
      %td
        %label V2(x) = 
        %input{:disabled => true, :value => "#{material.dir_2_x}"}
      %td
        %label V3(x) = 
        %input{:disabled => true, :value => "#{material.dir_3_x}"}
    %tr.light_grey
      %th
      %td
        %label V1(y) = 
        %input{:disabled => true, :value => "#{material.dir_1_y}"}
      %td
        %label V2(y) = 
        %input{:disabled => true, :value => "#{material.dir_2_y}"}
      %td
        %label V3(y) = 
        %input{:disabled => true, :value => "#{material.dir_3_y}"}
    %tr.grey
      %th
      %td
        %label V1(z) = 
        %input{:disabled => true, :value => "#{material.dir_1_z}"}
      %td
        %label V2(z) = 
        %input{:disabled => true, :value => "#{material.dir_2_z}"}
      %td
        %label V3(z) = 
        %input{:disabled => true, :value => "#{material.dir_3_z}"}
        