// TODO Adapter les champs à la BDD
%h3 Endomagement

- if material.mtype == "orthotrope"
  %table.grey
    %thead
      %tr
        %th
        %th Selon V1
        %th Selon V2 
        %th Selon V3
    %tbody
      %tr
        %th Limite d'endomagement 
        %td 
          = label :material, :sigma_p_1, "Se1 = "
          = text_field :material, :sigma_p_1, :value => "TODO", :disabled => disabled
        %td 
          = label :material, :sigma_p_1, "Se2 = "
          = text_field :material, :sigma_p_2, :value => "TODO", :disabled => disabled
        %td 
          = label :material, :sigma_p_1, "Se3 = "
          = text_field :material, :sigma_p_3, :value => "TODO", :disabled => disabled
      %tr
        %th Endomagement
        %td 
          = label :material, :sigma_p_1, "e1 = "
          = text_field :material, :sigma_p_3, :value => "TODO", :disabled => disabled
        %td 
          = label :material, :sigma_p_1, "e2 = "
          = text_field :material, :sigma_p_3, :value => "TODO", :disabled => disabled
        %td 
          = label :material, :sigma_p_1, "e3 = "
          = text_field :material, :sigma_p_3, :value => "TODO", :disabled => disabled
          
- elsif material.mtype == "isotrope"
  %table.grey
    %tbody
      %tr
        %th Limite d'endomagement 
        %td 
          = label :material, :sigma_p_1, "Se1 = "
          = text_field :material, :sigma_p_1, :value => "TODO", :disabled => disabled
      %tr
        %th Endomagement
        %td 
          = label :material, :sigma_p_1, "e1 = "
          = text_field :material, :sigma_p_3, :value => "TODO", :disabled => disabled