- disabled = false if disabled.nil?
- show_all = false if show_all.nil?

%h3 Elasticité

- if @material.mtype == "orthotrope" or show_all
  %h3 Directions principales
  %table.grey
    %thead
      %tr.no_sorter
        %th
        %th Selon V1
        %th Selon V2 
        %th Selon V3
    %tbody
      %tr
        %th x
        %td= custom_text_field(:material, :dir_1_x, "x1", disabled)
        %td= custom_text_field(:material, :dir_2_x, "x2", disabled)
        %td= custom_text_field(:material, :dir_3_x, "x3", disabled)
      %tr
        %th y 
        %td= custom_text_field(:material, :dir_1_y, "y1", disabled)
        %td= custom_text_field(:material, :dir_2_y, "y2", disabled)
        %td= custom_text_field(:material, :dir_3_y, "y3", disabled)
      %tr
        %th z
        %td= custom_text_field(:material, :dir_1_y, "z1", disabled)
        %td= custom_text_field(:material, :dir_2_y, "z2", disabled)
        %td= custom_text_field(:material, :dir_3_y, "z3", disabled)
       
  %table.grey
    %thead
      %tr.no_sorter
        %th
        %th Selon V1
        %th Selon V2 
        %th Selon V3
    %tbody
      %tr
        %th Module d'Young (E)
        %td= custom_text_field(:material, :E_1, "E1", disabled)
        %td= custom_text_field(:material, :E_2, "E2", disabled)
        %td= custom_text_field(:material, :E_3, "E3", disabled)
      %tr
        %th Coefficient de Poisson (&nu;)
        %td= custom_text_field(:material, :nu_12, "&nu;12", disabled)
        %td= custom_text_field(:material, :nu_23, "&nu;23", disabled)
        %td= custom_text_field(:material, :nu_13, "&nu;13", disabled)
      %tr
        %th Limite de rupture (&sigma;r)
        %td= custom_text_field(:material, :sigma_r_1, "&sigma;r1", disabled)
        %td= custom_text_field(:material, :sigma_r_2, "&sigma;r2", disabled)
        %td= custom_text_field(:material, :sigma_r_3, "&sigma;r3", disabled)

- elsif @material.mtype == "isotrope"
  %table.grey
    %tbody
      %tr
        %th Module d'Young (E)
        %td= custom_text_field(:material, :E_1, "E1", disabled)
      %tr
        %th Coefficient de poisson (&nu;)
        %td= custom_text_field(:material, :nu_12, "&nu;12", disabled)
      %tr
        %th Limite de rupture (&sigma;r)
        %td= custom_text_field(:material, :sigma_r_1, "&sigma;r1", disabled)
