- disabled = false if disabled.nil?
- show_all = false if show_all.nil?

/ TODO !!!!!!!!!!! CHANGER LES VALEURS DES CHAMPS. Elles ne sont pas adapté à celle présente en BDD
%h3 Plasticité
- if @material.mtype == "orthotrope" or show_all
  %table.grey
    %thead
      %tr.no_sorter
        %th
        %th Selon V1
        %th Selon V2 
        %th Selon V3
    %tbody
      %tr
        %th Limite de plasticité (Sp)
        %td= custom_text_field(:material, :sigma_p_1, "Sp1", disabled)
        %td= custom_text_field(:material, :sigma_p_2, "Sp2", disabled)
        %td= custom_text_field(:material, :sigma_p_3, "Sp3", disabled)
      %tr
        %th Taux de plastification (dp)
        %td
          = text_field :material, :dp_1, :value => "TODO", :disabled => disabled, :size => '10', :type => "number", :placeholder => "dp1"
        %td
          = text_field :material, :dp_2, :value => "TODO", :disabled => disabled, :size => '10', :type => "number", :placeholder => "dp2"
        %td
          = text_field :material, :dp_3, :value => "TODO", :disabled => disabled, :size => '10', :type => "number", :placeholder => "dp3"
      %tr
        %th Déformation plastique (p)
        %td= custom_text_field(:material, :p_1, "p1", disabled)
        %td= custom_text_field(:material, :p_2, "p2", disabled)
        %td= custom_text_field(:material, :p_3, "p3", disabled)

- elsif @material.mtype == "isotrope"
  %table.grey
    %tbody
      %tr
        %th Limite de plasticité (Sp)
        %td= custom_text_field(:material, :sigma_p_1, "Sp1", disabled)
      %tr
        %th Taux de plastification (dp)
        %td= custom_text_field(:material, :dp_1, "Sp2", disabled)
      %tr
        %th Déformation plastique (p)
        %td= custom_text_field(:material, :p_1, "Sp3", disabled)
