/ TODO !!!!!!!!!!! CHANGER LES VALEURS DES CHAMPS. Elles ne sont pas adapté à celle présente en BDD
%h3 Plasticité
- if material.mtype == "orthotrope"
  %table.grey
    %thead
      %tr.no_sorter
        %th
        %th{:colspan => 2} Selon V1
        %th{:colspan => 2} Selon V2 
        %th{:colspan => 2} Selon V3
    %tbody
      %tr
        %th Limite de plasticité
        %td.label_table
          = label :material, :sigma_p_1, "Sp1 = "
        %td
          = text_field :material, :sigma_p_1, :value => material.sigma_p_1, :disabled => disabled
        %td.label_table 
          = label :material, :sigma_p_2, "Sp2 = "
        %td
          = text_field :material, :sigma_p_2, :value => material.sigma_p_2, :disabled => disabled
        %td.label_table
          = label :material, :sigma_p_2, "Sp3 = "
        %td
          = text_field :material, :sigma_p_3, :value => material.sigma_p_3, :disabled => disabled
      %tr
        %th Taux de plastification
        %td.label_table
          = label :material, :dp_1, "dp1 = "
        %td
          = text_field :material, :dp_1, :value => "TODO", :disabled => disabled
        %td.label_table
          = label :material, :dp_2, "dp2 = "
        %td
          = text_field :material, :dp_2, :value => "TODO", :disabled => disabled
        %td.label_table
          = label :material, :dp_3, "dp3 = "
        %td
          = text_field :material, :dp_3, :value => "TODO", :disabled => disabled
      %tr
        %th Déformation plastique
        %td.label_table
          = label :material, :p_1, "p1 = "
        %td
          = text_field :material, :p_1, :value => material.p_1, :disabled => disabled
        %td.label_table
          = label :material, :p_2, "p1 = "
        %td
          = text_field :material, :p_2, :value => material.p_2, :disabled => disabled
        %td.label_table
          = label :material, :p_3, "p3 = "
        %td
          = text_field :material, :p_3, :value => material.p_3, :disabled => disabled

- elsif material.mtype == "isotrope"
  %table.grey
    %tbody
      %tr
        %th Limite de plasticité
        %td.label_table
          = label :material, :sigma_p_1, "Sp1 = "
        %td
          = text_field :material, :sigma_p_1, :value => material.sigma_p_1, :disabled => disabled
      %tr
        %th Taux de plastification
        %td.label_table
          = label :material, :dp_1, "dp1 = "
        %td
          = text_field :material, :dp_1, :value => material.dp_1, :disabled => disabled
      %tr
        %th Déformation plastique
        %td.label_table
          = label :material, :p_1, "p1 = "
        %td
          = text_field :material, :p_1, :value => material.p_1, :disabled => disabled
