%h3 Comportement générique :

%p
  Parfait
  = check_box_tag "link_comp_generic_pa", "pa", @link.comp_generique.downcase.include?("pa"), :disabled => true
  Elastique
  = check_box_tag "link_comp_generic_el", "el", @link.comp_generique.downcase.include?("el"), :disabled => true
  Contact
  = check_box_tag "link_comp_generic_co", "co", @link.comp_generique.downcase.include?("co"), :disabled => true

%h3 Comportement complexe :

%p
  Plastique
  = check_box_tag "link_comp_complexe_pl", "pl", @link.comp_complexe.downcase.include?("pl"), :disabled => true
  Cassable
  = check_box_tag "link_comp_complexe_ca", "ca", @link.comp_complexe.downcase.include?("ca"), :disabled => true

= form_for [@workspace, @link] do |f|

  = f.hidden_field :comp_generique
  = f.hidden_field :comp_complexe
  = f.hidden_field :type_num

  .wrapper
    #left_content= render "link_tab_details"
    #right_content= render "link_details"
    
  - if action_name == "edit"
    = submit_tag "Editer", :class => 'yellow_button'
  - else 
    = submit_tag "Créer", :class => 'yellow_button'
    = link_to "Annuler", :class => 'yellow_button', :controller => :laboratory, :action => :index, :anchor => 'Liaisons'