%h3 Comportement générique :

%p
  Parfait
  = check_box_tag "link_comp_generic_pa", "pa", (@link.type_num == 0 or @link.type_num == 3) , :disabled => true
  Elastique
  = check_box_tag "link_comp_generic_el", "el", (@link.type_num == 1 or @link.type_num == 4), :disabled => true
  Contact
  = check_box_tag "link_comp_generic_con", "con", @link.type_num == 2, :disabled => true
  Cohésive
  = check_box_tag "link_comp_generic_coh", "coh", @link.type_num == 5, :disabled => true

%h3 Comportement complexe :

%p
  Plastique
  = check_box_tag "link_comp_complexe_pl", "pl", @link.type_num == 7, :disabled => true
  Cassable
  = check_box_tag "link_comp_complexe_ca", "ca", (@link.type_num == 3 or @link.type_num == 4), :disabled => true

= form_for [@workspace, @link] do |f|

  = f.hidden_field :comp_generique
  = f.hidden_field :comp_complexe
  = f.hidden_field :type_num

  .wrapper
    #left_content= render "link_tab_details"
    #right_content= render "link_details"
    
  - if action_name == "edit"
    = submit_tag "Editer", :class => 'yellow_button'
  - else 
    = submit_tag "Créer", :class => 'yellow_button'
    = link_to "Annuler", :class => 'yellow_button', :controller => :laboratory, :action => :index, :anchor => 'Liaisons'