- content_for :additionnal_stylesheets do
  = stylesheet_link_tag "table"
  = stylesheet_link_tag "main_link"

- content_for :additionnal_javascript do
  = javascript_include_tag "material/functions_layer_material"
  = javascript_include_tag "material/init_new_link"

/ wizard création de projet en premier plan
.content
  / partie gauche du contenu, raccourci
  #contentleft
    .contentheightmin
    = render :partial => "partials/raccourcis_modele"
  / fin partie gauche du contenu
  
  / partie droite du contenu, tableaux, informations importantes
  #contentright
    #largeBox
      = render "form"
