-content_for :left_submenu do
  #contentleft
    = render :partial => "partials/raccourcis_modele"
    = render :partial => "left_submenu"

-content_for :content_company do
  %h2
    Liste des matériaux
  #LinkListe
    = render :partial => "search_filter"
    - if !@links.empty?
      %table.grey
        %thead
          %tr
            %th 
            %th Nom
            %th Famille
            %th Générique
            %th Complexe
            - if params[:type] != "standard" 
              %th
              %th
        %tbody
          = render @links
    = link_to "Nouvelle liaison", new_company_link_path