-content_for :left_submenu do
  #contentleft
    = render :partial => "partials/raccourcis_modele"
    = render :partial => "left_submenu"

-content_for :content_company do
  %h2
    Liste des matériaux
  #LinkListe
    = render :partial => "search_filter"
    - if !@links.empty?
      %table.grey
        %thead
          %tr
            %th 
            %th Nom
            %th Famille
            %th Générique
            %th Complexe
            - if params[:type] != "standard" 
              %th
              %th
        %tbody
          - @links.each do |link|
            %tr
              %td= link_to "Détails", [@company, link]
              %td= link.name
              %td= link.family
              %td= link.comp_generique
              %td= link.comp_complexe
              - if link.company and link.company.id == current_user.company.id
                %td= link_to "Editer"   , edit_company_link_path(@company, link)
                %td= link_to "Supprimer", {:action=>"destroy", :controller=>"link", :id => link.id}, :method => :delete

    = link_to "Nouvelle liaison", new_company_link_path