-content_for :left_top do
  .left_submenu
    %h2.grey
      Ajouts
    %ul
      %li.LM_pic_new_liaison
        = link_to 'Nouvelle liaison', new_company_link_path

-content_for :right_top do
  %h2.grey
    Liste des matériaux
  %div
    = render :partial => "search_filter"
    %label{:for => "search_filter"} Recherche
    %input#search_filter{:type => "text"}

-content_for :company_content do
  - if !@links.empty?
    %table.grey#links_table
      %thead
        %tr
          %th.no_sorter
          %th Nom
          %th Famille
          %th Générique
          %th Complexe
          %th.no_sorter Actions
      %tbody
        - @links.each do |link|
          %tr
            %td= link_to "Détails", [@company, link]
            %td= link.name
            %td= link.family
            %td= link.comp_generique
            %td= link.comp_complexe
            - if link.company and link.company.id == current_user.company.id
              %td.action_on_table
                %ul
                  %li
                    = link_to "Editer"   , edit_company_link_path(@company, link)
                  %li
                    = link_to "Supprimer", {:action=>"destroy", :controller=>"link", :id => link.id}, :method => :delete

  = coffeescript_include_tag "search"

  :coffeescript
    $('#links_table').tablesorter()
