-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_liaison
        =link_to 'Retour à la liste des liaisons', workspace_links_path(@workspace)

-content_for :workspace_content do
  .grey
    - if @link.comp_complexe.empty?
      - @comp_generique  = ["Parfaite", "Elastique", "Contact"]
      - @comp_complexe = ["Plastique", "Cassable"]
  
      %h2 Comportement de la liaison
      = form_for new_workspace_material_path, :html => {:method => :get} do 
        
        %h3 Comportement générique
        %p
          - @comp_generique.each do |comp|
            = label_tag  comp
            = check_box_tag comp, true

        %h3 Comportement complexe
        %p
          - @comp_complexe.each do |comp|
            = label_tag  comp
            = check_box_tag comp, true
        %p
          = hidden_field_tag :next, true
        %p
          = submit_tag "Suivant"
    - else
      = render "form"
