-content_for :left_submenu do
  #contentleft
    = render :partial => "partials/raccourcis_modele"

-content_for :content_company do    
  %h2
    Liaison : 
    = @link.name
  %ul.main_infos
    %li
      Référence :
      = @link.reference
    %li
      Famille :
      = @link.family
    %li
      Comportement générique :
      - if @link.comp_generique.downcase.include? "pa"
        %span Parfait
      - if @link.comp_generique.downcase.include? "el"
        %span Elastique
      - if @link.comp_generique.downcase.include? "co"
        %span Contact
    %li
      Comportement complexe :
      - if @link.comp_complexe.downcase.include? "pl"
        %span Plastique
      - if @link.comp_complexe.downcase.include? "ca"
        %span Cassable

  #material_information
    = render :partial => "links/details/link_generic_information", :locals => { :link => @link, :disabled => true }
  = render :partial => "links/details/link_complexe_information", :locals => { :link => @link, :disabled => true }
