-#.ligne_resume_table
%p Coordonées
%p liste des gestionnaires
%p Profil de votre société
%p N gestionnaires
%ul
  %li
    %a{ :onclick => "affich_gestionnaire()", :style => "cursor: pointer;" }
      Gestionaires
  %li
    %a{ :onclick => "affich_detail_company()", :style => "cursor: pointer;" }
      Détail
%table.grey
  %thead
    %tr
      %th Date d'inscription
      %th Nom                   
      %th Email
  %tbody
    - company.users.managers.each do |manager|
      %tr
        %td= manager.created_at.to_date
        %td= manager.lastname + " " + manager.firstname
        %td= manager.email
%dl
  %dt Nom
  %dd= company.name
    
  %dt Division
  %dd= company.division
  
  %dt Adresse
  %dd= company.address
  
  %dt Ville
  %dd= company.city
  
  %dt Code Postal
  %dd= company.zipcode
  
  %dt Pays
  %dd= company.country
  
  %dt TVA intracommunautaire
  %dd= company.TVA
  
  %dt SIREN
  %dd= company.siren