
-content_for :additionnal_javascript  do 
  / Javascript particulier a la page societe
  %script{ :src => "/javascripts/company/functions_layer_company.js"          ,   :type => "text/javascript" }
  %script{ :src => "/javascripts/company/forfait/functions_forfait.js"        ,   :type => "text/javascript" }
  %script{ :src => "/javascripts/company/abonnement/functions_abonnement.js"  ,   :type => "text/javascript" }

#largeBox
  %h2
    Tableau de bord
#largeBoxcontent1
  /compte d'abonnement annuel
  = render :partial => "companies/abonnement/resume_abonnement"
  = render :partial => "companies/abonnement/contenu_abonnement"
  /compte de calcul
  = render :partial => "companies/calcul/resume_calcul"
  = render :partial => "companies/calcul/contenu_calcul"

#largeBox
  %h2
    Profil
#largeBoxcontent
  /profil company
  = render :partial => "companies/profil_company/resume_company"
  = render :partial => "companies/profil_company/contenu_company"  
  
:javascript
  var init_account_sliders = function (){ 
    // Initialise les reglettes indiquant les consommations.
    var calcul_account = #{@current_company.calcul_account.to_json};
    var memory_account = #{@current_company.memory_account.to_json};
    init_current_calcul_account(calcul_account);
    init_current_memory_account(memory_account);    
  };
  $(document).ready( init_account_sliders );
  
