-content_for :additionnal_stylesheets do 
  %link{ :href => "/stylesheets/main_user.css"    , :rel => "stylesheet", :media => "screen" }
  %link{ :href => "/stylesheets/main_company.css" , :rel => "stylesheet", :media => "screen" }
  
-content_for :additionnal_javascript  do 
  %script{ :src => "/javascripts/companies/functions_layer_company.js"          ,   :type => "text/javascript" }
  %script{ :src => "/javascripts/companies/forfait/functions_forfait.js"        ,   :type => "text/javascript" }
  %script{ :src => "/javascripts/companies/abonnement/functions_abonnement.js"  ,   :type => "text/javascript" }
  
-content_for :left_submenu do
  #contentleft
    = render :partial => "partials/raccourcis_company"
    = render :partial => "left_submenu"
  
-content_for :content_company do
  .resume_table
    %h2
      Tableau de bord
    .content_resume_table
      = render :partial => "abonnement"
      = render :partial => "calcul", :object => @company
  
  .resume_table
    %h2
      Profil
    .content_resume_table
      = render :partial => "company", :object => @company

