.contentBoxTable
  .contentBoxTable_first
    .contentBoxTable_0{ :style => "width: 190px;" }
      %p
        Date                   
    .contentBoxTable_0{ :style => "width: 200px;" }
      %p
        Type 
    .contentBoxTable_0{ :style => "width: 100px;" }
      %p
        Débit
    .contentBoxTable_0{ :style => "width: 100px;" }
      %p
        Crédit
    .contentBoxTable_0{ :style => "width: 100px;" }
      %p
        Solde
    
  - (0...10).each do |i|
    .contentBoxTable_lign{ :id => "solde_calcul_lign_#{i}" }
      .contentBoxTable_lign_pair{ :id => "solde_calcul_pair_#{i}" }
        .contentBoxTable_1{ :id => "solde_calcul_0_#{i}", :style => "width: 190px;" }
        .contentBoxTable_2{ :id => "solde_calcul_1_#{i}", :style => "width: 200px;" }
        .contentBoxTable_2{ :id => "solde_calcul_2_#{i}", :style => "width: 100px;" }
        .contentBoxTable_2{ :id => "solde_calcul_3_#{i}", :style => "width: 100px;" }
        .contentBoxTable_4{ :id => "solde_calcul_4_#{i}", :style => "width: 100px;" }
  / Fin du tableau de présentation des modèles.

.NM_bleu{ :style => "width: 600px; height: 25px;  margin: 10px 0px 0 63px;" }
  %a.page_select{ :onclick => "go_page_solde_calcul('first')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_moins.png", :style=>"vertical-align:middle;"}
  page
  - (0...5).each do |i|
    %a{ :id => "solde_calcul_page_#{i}", :onclick => "go_page_solde_calcul(#{i})", :style => "cursor: pointer;" }
      #{i}
  %a.page_select{ :onclick => "go_page_solde_calcul('end')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_plus.png", :style=>"vertical-align:middle;"}