.largeBoxTable
  .largeBoxTable_first
    .largeBoxTable_0{ :style => "width: 25px;" }
    .largeBoxTable_0{ :style => "width: 246px;" }
      %p
        Nom                   
    .largeBoxTable_0{ :style => "width: 210px;" }
      %p
        Date 
    .largeBoxTable_0{ :style => "width: 100px;" }
      %p
        Ville
    .largeBoxTable_0{ :style => "width: 100px;" }
      %p
        Pays
    
  - (0...20).each do |i|
    .largeBoxTable_lign.off{ :id => "workspace_lign_#{i}" }
      .largeBoxTable_lign_pair{ :id => "workspace_pair_#{i}" }
        %a{ :style => "cursor: pointer;", :onclick => "go_detail_workspace(#{i})" }
          .largeBoxTable_fleche
        .largeBoxTable_2{ :id => "workspace_0_#{i}", :style => "width: 246px;" }
        .largeBoxTable_2{ :id => "workspace_1_#{i}", :style => "width: 201px;" }
        .largeBoxTable_2{ :id => "workspace_2_#{i}", :style => "width: 100px;" }
        .largeBoxTable_2{ :id => "workspace_3_#{i}", :style => "width: 100px;" }
        .largeBoxTable_suppr
  / Fin du tableau de présentation des modèles.
#footer_top_2
  %a.page_select{ :onclick => "go_page_workspace('first')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_moins.png", :style=>"vertical-align:middle;"}
  page
  - (0...5).each do |i|
    %a{ :id => "workspace_page_#{i}", :onclick => "go_page_workspace(#{i})", :style => "cursor: pointer;" }
      #{i}
  %a.page_select{ :onclick => "go_page_workspace('end')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_plus.png", :style=>"vertical-align:middle;"}
    
#footer_top_3
  #model_bouton_jaune{ :style => "margin:5px 0px 0px 170px" }
    %ul
      %li
        %a{ :href => "#", :onclick => "displayNewCompany('on')" }
          %img{ :src => "/images/LM_pic_new_liaison.png" }
          Nouvelle société cliente
