-# encoding: utf-8 
#edge_form
  %h2.grey
    %button.close Fermer
    Détail

  = render "calculs/partials/edge_basic_information"

  #edge_criteria
    %h3
      Critière :
    %label{:for => "edge_criteria_volume"} Dans un volume
    = radio_button_tag 'edge_criteria', 'volume'
    %label{:for => "edge_criteria_surface"} Sur une surface
    = radio_button_tag 'edge_criteria', 'surface'
    
  / Si volume a été selectionné
  = render "calculs/partials/edge_volume_form"

  / Si surface a été selectionné
  = render "calculs/partials/edge_surface_form"
  
  %button.save Créer le bord