-# encoding: utf-8 
#volume_geometry
  %h3
    Géométrie 

  %label{:for => "edge_volume_geometry_box"}      Boite
  = radio_button_tag 'edge_volume_geometry', 'box'
  %label{:for => "edge_volume_geometry_cylinder"} Cylindre                                                  
  = radio_button_tag 'edge_volume_geometry', 'cylinder'
  %label{:for => "edge_volume_geometry_sphere"}   Sphère                                                    
  = radio_button_tag 'edge_volume_geometry', 'sphere'
#edge_volume_box

  %table.grey
    %tbody
      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Point 1 (x,y,z)", :data_type => "number",
                                                                          :ids => ["volume_box_point_1_x", "volume_box_point_1_y", "volume_box_point_1_z"], 
                                                                          :names => ["point_1_x", "point_1_y", "point_1_z"], 
                                                                          :placeholders => ["x", "y", "z"]}

      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Point 2 (x,y,z)", :data_type => "number",
                                                                          :ids => ["volume_box_point_2_x", "volume_box_point_2_y", "volume_box_point_2_z"], 
                                                                          :names => ["point_2_x", "point_2_y", "point_2_z"], 
                                                                          :placeholders => ["x", "y", "z"]}
#edge_volume_cylinder

  %table.grey
    %tbody
      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Point 1 (x,y,z)", :data_type => "number",
                                                                          :ids => ["volume_cylinder_point_1_x", "volume_cylinder_point_1_y", "volume_cylinder_point_1_z"], 
                                                                          :names => ["point_1_x", "point_1_y", "point_1_z"], 
                                                                          :placeholders => ["x", "y", "z"]}

      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Direction de l'axe (x,y,z)", :data_type => "number",
                                                                          :ids => ["volume_cylinder_direction_x", "volume_cylinder_direction_y", "volume_cylinder_direction_z"], 
                                                                          :names => ["direction_x", "direction_y", "direction_z"], 
                                                                          :placeholders => ["x", "y", "z"]}

      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Rayon (x)", :data_type => "number",
                                                                          :ids => ["volume_cylinder_radius"],
                                                                          :names => ["radius"],
                                                                          :placeholders => ["x"]}

#edge_volume_sphere

  %table.grey
    %tbody
      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Centre (x,y,z)", :data_type => "number",
                                                                          :ids => ["volume_sphere_point_1_x", "volume_sphere_point_1_y", "volume_sphere_point_1_z"], 
                                                                          :names => ["point_1_x", "point_1_y", "point_1_z"], 
                                                                          :placeholders => ["x", "y", "z"]}
  %table.grey
    %tbody
      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Rayon (x)", :data_type => "number",
                                                                          :ids => ["volume_sphere_radius"], 
                                                                          :names => ["radius"], 
                                                                          :placeholders => ["x"]}
