%ul.horizontal_tab_submenu
  %li
    %a#tab_m1 Génériques
  %li        
    %a#tab_m2 Elasticité
  %li        
    %a#tab_m3 Plasticité
  %li        
    %a#tab_m4 Endommagement
  %li                   
    %a#tab_m5 Viscosité

.horizontal_tab_content
  #tab_m1_content
    = render "materials/details/material_basic_information"
    = render :partial => "materials/details/material_main_information", :locals => { :show_all => true }
    = render :partial => "materials/details/material_generic_info", :locals => { :show_all => true }

  #tab_m2_content
    = render :partial => "materials/details/material_elastic_information", :locals => { :show_all => true }
  #tab_m3_content
    = render :partial => "materials/details/material_plastic_information", :locals => { :show_all => true }
  #tab_m4_content
    = render :partial => "materials/details/material_damageable_information", :locals => { :show_all => true }
  #tab_m5_content
    = render :partial => "materials/details/material_viscous_information", :locals => { :show_all => true }

:coffeescript
  $ ->
    manage_tabs
      "#tab_m1" : "#tab_m1_content"
      "#tab_m2" : "#tab_m2_content"
      "#tab_m3" : "#tab_m3_content"
      "#tab_m4" : "#tab_m4_content"
      "#tab_m5" : "#tab_m5_content"
      