#materials_database
  = render :partial => "materials/search_filter"
  %table.grey#materials_table
    %thead
      %tr
        %th.no_sorter 
        %th Nom
        %th ID
        -#%th Référence
        %th Famille
        %th Type
        %th Comportement
    %tbody
      - @standard_materials.each do |material|
        %tr.standard{:id => "material_#{material.id}"}
          %td.escape_search.details_link
            %button.add Ajouter au calcul
          %td.name=           material.name
          %td.id=             material.id
          -#%td.reference=      material.reference            
          %td.family=         material.family
          %td.type=           material.mtype
          %td.comp=           material.comp
        
      - @workspace_materials.each do |material|
        %tr.workspace{:id => "material_#{material.id}"}
          %td.escape_search.details_link
            %button.add Ajouter au calcul
          %td.name=           material.name
          %td.id=             material.id
          -#%td.reference=      material.reference            
          %td.family=         material.family
          %td.type=           material.mtype
          %td.comp=           material.comp
  %button.close Fermer