<% # encoding: utf-8
%> 
<%= form_for(@workspace_relationship) do |f| %>
  <% if @workspace_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workspace_relationship.errors.count, "error") %> prohibited this workspace_relationship from being saved:</h2>

      <ul>
      <% @workspace_relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workspace1_id %><br />
    <%= f.text_field :workspace1_id %>
  </div>
  <div class="field">
    <%= f.label :workspace2_id %><br />
    <%= f.text_field :workspace2_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
