<div id="paginationHolder"> Espace dédie au contrôle de pagination </div>

<table id="largeBoxTable_Model">
  <thead>
	  <tr id="largeBoxTable_Model_first" >
			<th id="LM_model_0_1" class="largeBoxTable_Model_0" style="width: 21px;">
    		</th>
    		<th id="LM_model_0_2" class="largeBoxTable_Model_0" style="width: 246px;">
    			Nom
    		</th>
    		<th id="LM_model_0_3" class="largeBoxTable_Model_0" style="width: 196px;">
    			Projet
    		</th>
    		<th id="LM_model_0_4" class="largeBoxTable_Model_0" style="width: 85px;">
    			Résultats
    		</th>
    		<th id="LM_model_0_5" class="largeBoxTable_Model_0" style="width: 59px;">
    			Visu
    		</th>
    		<th id="LM_model_0_6" class="largeBoxTable_Model_0" style="width: 59px;">
    			Calcul
    		</th>
    		<th id="LM_model_0_7" class="largeBoxTable_Model_0" style="width: 21px;">
    		</th>	
		</tr>
	</thead>
	
	<tbody>
		<%  @modeles.reverse.each do |modele| %> 
		<% i = 1 %>        						    		
   		<tr id="LM_model_lign_<%= i %>" class="largeBoxTable_Model_lign" >
	   		<!-- <div class="largeBoxTable_Model_lign_pair" > -->
		   		<td id="LM_model_1_<%= i %>" class="largeBoxTable_Model_1" >
	    		</td>
	    		<td id="LM_model_2_<%= i %>" class="largeBoxTable_Model_2" >
	    		  <%= modele.name %>
	    		</td>
	    		<td id="LM_model_3_<%= i %>" class="largeBoxTable_Model_3" >
	    		  <%= modele.project.name %>
	    		</td>
	    		<td id="LM_model_4_<%= i %>" class="largeBoxTable_Model_4" >
	    		  <%= modele.has_result? ? "Oui" : "Non" %>
	    		</td>
	    		<td id="LM_model_5_<%= i %>" class="largeBoxTable_Model_5" >
	    		</td>
	    		<td>
		    		<a  href="SC_compute_NC.php"> 
		    			<div id="LM_model_6_<%= i %>" class="largeBoxTable_Model_6" >
		    			</div>
		    		</a>
	    		</td>
	    		<td id="LM_model_7_<%= i %>" class="largeBoxTable_Model_7" >
	    		</td>							
	    	<!-- </div> -->
    	</tr>
    <% end %>	
  </tbody>					
</table>