
#largeBoxTable_Model
  #largeBoxTable_Model_first
    #LM_model_0_1.largeBoxTable_Model_0{ :style => "width: 21px;" }
    #LM_model_0_2.largeBoxTable_Model_0{ :style => "width: 246px;" }
      %p
        Nom
    #LM_model_0_3.largeBoxTable_Model_0{ :style => "width: 196px;" }
      %p
        Projet
    #LM_model_0_4.largeBoxTable_Model_0{ :style => "width: 85px;" }
      %p
        Résultats
    #LM_model_0_5.largeBoxTable_Model_0{ :style => "width: 59px;" }
      %p
        Visu
    #LM_model_0_6.largeBoxTable_Model_0{ :style => "width: 59px;" }
      %p
        Calcul
    #LM_model_0_7.largeBoxTable_Model_0{ :style => "width: 21px;" }
    
  - (0...20).each do |i|
    .largeBoxTable_Model_lign{ :id => "LM_model_lign_#{i}" }
      .largeBoxTable_Model_lign_pair{ :id => "LM_model_pair_#{i}" }
        .largeBoxTable_Model_1{ :id => "LM_model_1_#{i}" }
        .largeBoxTable_Model_2{ :id => "LM_model_2_#{i}" }
        .largeBoxTable_Model_3{ :id => "LM_model_3_#{i}" }
        .largeBoxTable_Model_4{ :id => "LM_model_4_#{i}" }
        .largeBoxTable_Model_5{ :id => "LM_model_5_#{i}" }
        %a{ :href => "calcul" }
          .largeBoxTable_Model_6{ :id => "LM_model_6_#{i}" }
        .largeBoxTable_Model_7{ :id => "LM_model_7_#{i}" }
  / Fin du tableau de présentation des modèles.
