#paginationHolder
  Espace dédie au contrôle de pagination
%table#largeBoxTable_Model
  %thead
    %tr#largeBoxTable_Model_first
      %th#LM_model_0_1.largeBoxTable_Model_0{ :style => "width: 21px;" }
      %th#LM_model_0_2.largeBoxTable_Model_0{ :style => "width: 246px;" }
        Nom
      %th#LM_model_0_3.largeBoxTable_Model_0{ :style => "width: 196px;" }
        Projet
      %th#LM_model_0_4.largeBoxTable_Model_0{ :style => "width: 85px;" }
        Résultats
      %th#LM_model_0_5.largeBoxTable_Model_0{ :style => "width: 59px;" }
        Visu
      %th#LM_model_0_6.largeBoxTable_Model_0{ :style => "width: 59px;" }
        Calcul
      %th#LM_model_0_7.largeBoxTable_Model_0{ :style => "width: 21px;" }
  %tbody
    - @modeles.reverse.each do |modele|
      - i = 1
      %tr.largeBoxTable_Model_lign{ :id => "LM_model_lign_#{i}" }
        /
          <div class="largeBoxTable_Model_lign_pair" >
        %td.largeBoxTable_Model_1{ :id => "LM_model_1_#{i}" }
        %td.largeBoxTable_Model_2{ :id => "LM_model_2_#{i}" }
          = modele.name
        %td.largeBoxTable_Model_3{ :id => "LM_model_3_#{i}" }
          = modele.project.name
        %td.largeBoxTable_Model_4{ :id => "LM_model_4_#{i}" }
          = modele.has_result? ? "Oui" : "Non"
        %td.largeBoxTable_Model_5{ :id => "LM_model_5_#{i}" }
        %td
          %a{ :href => "SC_compute_NC.php" }
          .largeBoxTable_Model_6{ :id => "LM_model_6_#{i}" }
        %td.largeBoxTable_Model_7{ :id => "LM_model_7_#{i}" }
        /
          </div>

