/ Vue Index des modeles.
/ Liens vers les CSS
%link{ :href => "/stylesheets/main_sc_model.css", :rel => "stylesheet", :media => "screen" }

/ Javascript particulier a la page modele
%script{ :src => "/javascripts/modele/functions_layer_sc_model.js" ,   :type => "text/javascript" }

/ wizard création de projet en premier plan
#content
  #bl_5.black.off
  / wizard de creation d'un nouveau modele
  = render :partial => "modele_nouveau"
  = render :partial => "modele_delete"

  / partie gauche du contenu, raccourci
  #contentleft
    .contentheightmin
    = render :partial => "partials/raccourcis_modele"
    = render :partial => "ajouts_modele"
  / fin partie gauche du contenu
  
  / partie droite du contenu, tableaux, informations importantes
  #contentright
    #largeBox
      %h2
        Liste des modèles
    #largeBoxcontent
      / taille minimum du contenu du contenu
      .contentheightmin
      / taille minimum du contenu du contenu
      
      #ModelDetail.off
        = render :partial => "modele_detail"
      #ModelListe.on
        = render :partial => "filtre_des_modeles"
        / liste des projet
        = render :partial => "modele_list"
        / fin largeBoxcontent de la liste des projet
      
  / fin de #contentright, partie droite du contenu
  =javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
  %script{ :type => "text/javascript" }
    $(document).ready(get_Tableau_model);
    //AuthToken();


  - # $(document).ready(function() {
  - # $("#largeBoxTable_Model").tablesorter({ debug:false, widthFixed: true, widgets: ['zebra'] }).tablesorterPager({container: $("#paginationHolder")});
  
  - # \// $("largeBoxTable_Model").tablesorter({widthFixed: true, widgets: ['zebra']})
  - # \// .tablesorterPager({container: $("#footer_top_2")});
  - # });
= render :partial => "a_CORRIGER_footer_top"