.contentBoxTable
  .contentBoxTable_first
    .contentBoxTable_0{ :style => "width: 25px;" }
    .contentBoxTable_0{ :style => "width: 395px;" }
      %p
        email
    .contentBoxTable_0{ :style => "width: 260px;" }
      %p
        Nom
    
  - (0...20).each do |i|
    .contentBoxTable_lign.off{ :id => "gestionnaire_lign_#{i}" }
      .contentBoxTable_lign_pair{ :id => "gestionnaire_pair_#{i}" }
        %a{ :style => "cursor: pointer;", :onclick => "affich_detail_gestionnaire(#{i})" }
          .contentBoxTable_fleche
        .contentBoxTable_2{ :id => "gestionnaire_0_#{i}" , :style => "width: 395px;" }
        .contentBoxTable_2{ :id => "gestionnaire_1_#{i}" , :style => "width: 260px;" } 
  / Fin du tableau de présentation des modèles.

.NM_bleu{ :style => "width: 600px; height: 25px;  margin: 10px 0px 0 63px;" }
  %a.page_select{ :onclick => "go_page_gestionnaire('first')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_moins.png", :style=>"vertical-align:middle;"}
  page
  - (0...5).each do |i|
    %a{ :id => "gestionnaire_page_#{i}", :onclick => "go_page_gestionnaire(#{i})", :style => "cursor: pointer;" }
      #{i}
  %a.page_select{ :onclick => "go_page_gestionnaire('end')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_plus.png", :style=>"vertical-align:middle;"}
