
#New_wiz_layer.on
  #New_wiz_layer_top
    Accédez à votre espace calcul
  - form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    #New_wiz_layer_milieu
      %div{ :style => "width: 400px; height:300px; margin: 100px 0px 0 213px;" }
        #login_format
          %p= f.label :email
          = f.text_field :email, :style => "width: 300px"
          
          %br
          %br
          
          %p= f.label :password
          = f.password_field :password

          - if devise_mapping.rememberable? 
            %p
              = f.check_box :remember_me 
              = f.label     :remember_me
            
          -# %p= label_tag 'remember_me', 'Remember me'
          -# = check_box_tag 'remember_me', '1', @remember_me
  
          -# %p= submit_tag 'Log in' 
          
          / TODO: Replacer cela dans la page.
          / = render :partial => "devise/shared/links"

    #New_wiz_layer_bas
      %a{ :href => "#", :onclick => "" } 
        .New_create_bouton_jaune
          Annuler
      //%a{ :href => "/sessions/create", :onclick => "" }
      = submit_tag 'Log in', :class => "New_footer_bouton_suivant New_footer_top_bouton", :style => "border: none; margin-right: 5px"
      -#  Log in