-# encoding: utf-8 


-content_for :workspace_content do
  %div.loginMarge
  %div.grey.centered
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      #login_format
        %p= f.label :email
        = f.text_field :email

        %p= f.label :password
        = f.password_field :password

        - if devise_mapping.rememberable? 
          %p
            = f.check_box :remember_me 
            = f.label     :remember_me
        %button.login_button.yellow_button{ :type => "submit"}
          Se connecter
        -# %a{ :href => "#", :onclick => '$("#user_new").submit();'}
    %br
    %div.loginLeft
      = link_to "New user ?", new_scratch_user_path
    %div.loginLeft
      = link_to "Forgot your password ?", new_password_path(resource_name)
    %div.loginLeft
      = link_to "Resend confirmation instructions", new_confirmation_path(resource_name)
    
