-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.manage_pic_nouveau_membre
        =link_to 'créer un compte utilisateur', new_scratch_user_path
      %li.manage_pic_nouveau_membre
        = link_to "Mot de passe oublié ?", new_password_path(resource_name)
      %li.manage_pic_nouveau_membre
        = link_to "réexpedier les instructions de confirmation", new_confirmation_path(resource_name)


-content_for :right_top do
  %h2.grey
    Loggin 
  .grey
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      #login_format
        %p= f.label :email
        = f.text_field :email

        %p= f.label :password
        = f.password_field :password

        - if devise_mapping.rememberable? 
          %p
            = f.check_box :remember_me 
            = f.label     :remember_me
        %button.login_button.yellow_button{ :type => "submit"}
          Se connecter
        -# %a{ :href => "#", :onclick => '$("#user_new").submit();'}
        %p
          %br
