/ contenu
#ModelContent.largeBoxContentCompte1
  / menu du compte calcul
  .CompteMenu
    %ul
      %li#MenuModelOutils.selected
        %a{ :onclick => "affich_Outils()", :style => "cursor: pointer;" }
          Outils
      %li#MenuModelResultats
        %a{ :onclick => "affich_Resultats()", :style => "cursor: pointer;" }
          Résultats
      %li#MenuModelUtilisateurs
        %a{ :onclick => "affich_Utilisateurs()", :style => "cursor: pointer;" }
          Utilisateurs
      %li#MenuModelFile
        %a{ :onclick => "affich_File()", :style => "cursor: pointer;" }
          Fichiers
      %li#MenuModelForum
        %a{ :onclick => "affich_Forum()", :style => "cursor: pointer;" }
          Forum
      

  .CompteContent
    .CompteContentHeightMin
    = render :partial => "detail_model/outils/cadre_outils"
    = render :partial => "detail_model/resultats/cadre_resultats"
    = render :partial => "detail_model/utilisateurs/cadre_utilisateurs"
    = render :partial => "detail_model/forum/cadre_forum"
    = render :partial => "detail_model/file/cadre_file"
    /= render :partial => "company/calcul/decompte_calcul"
  
#footer_top_2
  %a{ :href => "/modele" }
    #footer_top_fleche_retour
    retour à la liste des modèles  
  
  
  
  
  
  
  
  
  
/ fin menu compte calcul
/ fin du contenu