/ contenu
#ModelContent.largeBoxContentCompte1
  / menu du compte calcul
  .CompteMenu
    %ul
      %li#MenuModelOutils.selected
        %a{ :onclick => "affich_Outils()", :style => "cursor: pointer;" }
          Outils
      %li#MenuModelResultats
        %a{ :onclick => "affich_Resultats()", :style => "cursor: pointer;" }
          Résultats
      %li#MenuModelUtilisateurs
        %a{ :onclick => "affich_Utilisateurs()", :style => "cursor: pointer;" }
          Utilisateurs
      %li#MenuModelForum
        %a{ :onclick => "affich_Forum()", :style => "cursor: pointer;" }
          Forum
      %li#MenuModelDescription
        %a{ :onclick => "affich_Description()", :style => "cursor: pointer;" }
          Description

  .CompteContent
    .CompteContentHeightMin
    = render :partial => "detail_model/outils/cadre_outils"
    = render :partial => "detail_model/resultats/cadre_resultats"
    = render :partial => "detail_model/utilisateurs/cadre_utilisateurs"
    = render :partial => "detail_model/forum/cadre_forum"
    = render :partial => "detail_model/description/cadre_description"
    /= render :partial => "company/calcul/decompte_calcul"
  
  
  
  
  
  
  
  
  
  
  
/ fin menu compte calcul
/ fin du contenu