/ Vue Index des resultats.
/ Liens vers les CSS
%link{ :href => "/stylesheets/main_detail_model.css", :rel => "stylesheet", :media => "screen" }

/ Javascript particulier a la page resultat
%script{ :src => "/javascripts/detail_model/functions_layer_detail_model.js" ,   :type => "text/javascript" }
%script{ :src => "/javascripts/detail_model/utilisateur/functions_utilisateur.js" ,   :type => "text/javascript" }
%script{ :src => "/javascripts/detail_model/file/functions_file.js" ,   :type => "text/javascript" }

/ wizard création de projet en premier plan
.content
  #bl_5.black.off
  / wizard d'ajout d'un nouveau forfait
  = render :partial => "detail_model/utilisateurs/utilisateur_nouveau"
  = render :partial => "detail_model/resultats/resultat_delete"
  
  / partie gauche du contenu, raccourci
  #contentleft
    .contentheightmin
    = render :partial => "partials/raccourcis_modele"
    = render :partial => "context_leftbox"
  / fin partie gauche du contenu
  
  / partie droite du contenu, tableaux, informations importantes
  #contentright
    #largeBox
      %h2
        détail du model
    #largeBoxcontent
      / taille minimum du contenu du contenu
      .contentheightmin
      / taille minimum du contenu du contenu
      = render :partial => "info_model"
      / liste des projet
      = render :partial => "contenu_model"
      / fin largeBoxcontent de la liste des projet
      
/ fin de #contentright, partie droite du contenu
%script{ :type => "text/javascript" }
  model_id = #{@id_model};
  $(document).ready(function() {get_Current_model( #{@id_model} )});
  $(document).ready(function() {get_Tableau_utilisateur_new_list()});
    
/= render :partial => "footer_top"