- content_for :breadcrumb do   
  %ul.horizontal_tab_submenu.js_tab_breadcrumb
    %li
      %a{:href => "#Initialization"}      Initialisation 
    %li                
      %a{:href => "#Steps"}               Temps 
    %li                
      %a{:href => "#Materials"}           Matériaux 
    %li                
      %a{:href => "#Links"}               Liaisons 
    %li                
      %a{:href => "#Volumic_forces"}      Efforts volumiques
    %li                
      %a{:href => "#Boundary_Conditions"} Conditions Limites
    %li                
      %a{:href => "#Options"}             Options 
    %li                
      %a{:href => "#Forecast"}            Prévisions


- content_for :left_list do 

  .materials
    %h2.grey Liste des pièces
    %ul#pieces

  .links
    %h2.grey Liste des interfaces
    %ul#interfaces

  .boundary_conditions
    %h2.grey Liste des bords
    #edges
      %ul
      %button.new_edge Créer un bord

- content_for :right_list do 
  .materials
    %h2.grey Liste des Matériaux
    %ul#materials

  .links
    %h2.grey Liste des Liaisons
    %ul#links
    
  .boundary_conditions
    %h2.grey Liste des conditions aux limites
    %ul#boundary_conditions  

- content_for :details_calcul do 

  .initialization
    = render "calculs/partials/calculus_list"

  .steps
    = render "calculs/partials/step_details"

  .materials
    = render "calculs/partials/material_details_part"

  .links
    = render "calculs/partials/link_details_part"
    
  .volumic_forces
    = render "calculs/partials/volumic_force_details"
    
  .boundary_conditions
    = render "calculs/partials/new_edge_form"

  .options
    = render "calculs/partials/calculus_options"

- content_for :wizard_buttons do 
  .previous_button
    %a.yellow_button#wizard_previous_button Etape précédente
  .next_button
    %a.yellow_button#wizard_next_button     Etape suivante

- # TODO: Ramener dans ce fichier quand cela sera terminé. On charge dans ce partial le code de visualisation.
= render "calculs/partials/visualisation_interface"



- content_for :coffee do 
  :coffeescript
    # Initialization of data coming from database
    $ ->
      SCVisu.current_company = #{current_user.company_id}
      
      SCVisu.standardLibraryMaterial = new SCVisu.MaterialCollection
      SCVisu.standardLibraryMaterial.reset #{@materials.to_json.html_safe}

      SCVisu.standardLibraryLink = new SCVisu.LinkCollection
      SCVisu.standardLibraryLink.reset #{@links.to_json.html_safe}
      
      SCVisu.CalculCollection = new SCVisu.Calculs
      SCVisu.CalculCollection.reset #{@calculs.to_json.html_safe}

      SCVisu.CalculViews = new SCVisu.CalculListView {collection: SCVisu.CalculCollection}