:coffeescript
  $ ->
    LinkCollection = new Links {company_id: #{current_user.company_id}}
    LinkCollection.reset #{@links.to_json.html_safe}
    LinkViews = new LinkListView {collection: LinkCollection.models}
    MaterialCollection = new Materials {company_id: #{current_user.company_id}}
    MaterialCollection.reset #{@materials.to_json.html_safe}
    MaterialViews = new MaterialListView {collection: MaterialCollection.models}


%h2 Initialisation du calcul

#steps
  %button#add_step Ajouter un Step
  %select#step_type
    %option{:value => "statique"} Statique
    %option{:value => "quasistatique"} Quasistatique
    %option{:value => "dynamique"} Dynamique
  %table#steps_table.grey
    %thead
      %tr.no_sorter
        %th Nom
        %th Temps initial
        %th Pas de temps
        %th Nombre de pas de temps
        %th Temps final
        %th
    %tbody

%table#links_table.grey
  %thead
    %tr.no_sorter
      %th Nom
      %th
  %tbody

%table#selected_links_table.grey
  %thead
    %tr.no_sorter
      %th Nom
      %th
      %th
  %tbody

#edit_link
  = render :partial => "links/details/link_generic_information", :locals => { :show_all => true }
  = render :partial => "links/details/link_complexe_information", :locals => { :show_all => true }


= render 'calculs/partials/materials'

#edit_material
  = render :partial => "materials/details/material_main_information", :locals => { :show_all => true }
  = render :partial => "materials/details/material_generic_info", :locals => { :show_all => true }

  #tab_2_content
    = render :partial => "materials/details/material_elastic_information", :locals => { :show_all => true }
  #tab_3_content
    = render :partial => "materials/details/material_plastic_information", :locals => { :show_all => true }
  #tab_4_content
    = render :partial => "materials/details/material_damageable_information", :locals => { :show_all => true }
  #tab_5_content
    = render :partial => "materials/details/material_viscous_information", :locals => { :show_all => true }

