- content_for :breadcrumb do   
  %ul.horizontal_tab_submenu.js_tab_submenu
    %li
      %a#tab_11{:href => "#Initialisation"} Initialisation 
    %li                
      %a#tab_12{:href => "#Temps"} Temps 
    %li                
      %a#tab_13{:href => "#Matériaux"} Matériaux 
    %li                
      %a#tab_14{:href => "#Liaisons"} Liaisons 
    %li                
      %a#tab_15{:href => "#Conditions_Limites"} Conditions Limites
    %li                
      %a#tab_16{:href => "#Options"} Options 
    %li                
      %a#tab_17{:href => "#Prévisions"} Prévisions


- content_for :left_list do 
  .tab_13_content
    %h2.grey Liste des pièces
    %ul#pieces
  .tab_14_content
    %h2.grey Liste des interfaces
    %ul#interfaces

- content_for :right_list do 

  .tab_13_content
    %h2.grey Liste des Matériaux
    %ul#materials
  .tab_14_content
    %h2.grey Liste des Liaisons
    %ul#links
  

- content_for :top_calcul do 
  .tab_11_content
    %h2.grey Liste des calculs
    %ul#calculs
    #initialisation_button
      %button{:id => "next_step", :class => 'yellow_button'}
        Etape suivante
      %button{:id => "load_calcul", :class => 'yellow_button'}
        Charger le calcul
  .tab_12_content
    %h2.grey Temps
    #steps
      %button#add_step Ajouter un Step
      %select#step_type
        %option{:value => "statique"} Statique
        %option{:value => "quasistatique"} Quasistatique
        %option{:value => "dynamique"} Dynamique
      %table#steps_table.grey
        %thead
          %tr.no_sorter
            %th Nom
            %th Temps initial
            %th Pas de temps
            %th Nombre de pas de temps
            %th Temps final
            %th
        %tbody
- content_for :details_calcul do 
  #edit_material.tab_13_content
    = render "calculs/partials/material_details_part"

  #edit_link.tab_14_content
    = render "calculs/partials/link_details_part"

- # TODO: Ramener dans ce fichier quand cela sera terminé. On charge dans ce partial le code de visualisation.
= render "calculs/partials/visualisation_interface"


- content_for :coffee do 
  :coffeescript
    $ ->
      window.LinkCollection = new Links {company_id: #{current_user.company_id}}
      window.LinkCollection.reset #{@links.to_json.html_safe}
      window.LinkViews = new LinkListView {collection: LinkCollection}
      window.MaterialCollection = new Materials {company_id: #{current_user.company_id}}
      window.MaterialCollection.reset #{@materials.to_json.html_safe}
      window.MaterialViews = new MaterialListView {collection: MaterialCollection}
      window.CalculCollection = new Calculs
      window.CalculCollection.reset #{@calculs.to_json.html_safe}
      window.CalculViews = new CalculListView {collection: CalculCollection}
/ %h2 Initialisation du calcul

/ 
/ %table#links_table.grey
/   %thead
/     %tr.no_sorter
/       %th Nom
/       %th
/   %tbody
/ 
/ %table#selected_links_table.grey
/   %thead
/     %tr.no_sorter
/       %th Nom
/       %th
/       %th
/   %tbody
/ 
/ #edit_link
/   = render :partial => "links/details/link_generic_information", :locals => { :show_all => true }
/   = render :partial => "links/details/link_complexe_information", :locals => { :show_all => true }
/ 
/ 
/ = render 'calculs/partials/materials'
/ 