- content_for :breadcrumb do   
  %ul.horizontal_tab_submenu.js_tab_submenu
    %li
      %a#tab_11{:href => "#Initialisation"} Initialisation 
    %li                
      %a#tab_12{:href => "#Temps"} Temps 
    %li                
      %a#tab_13{:href => "#Matériaux"} Matériaux 
    %li                
      %a#tab_14{:href => "#Liaisons"} Liaisons 
    %li                
      %a#tab_15{:href => "#Conditions"} Conditions 
    %li                
      %a#tab_16{:href => "#Limites"} Limites 
    %li                
      %a#tab_17{:href => "#Options"} Options 
    %li                
      %a#tab_18{:href => "#Prévisions"} Prévisions


- content_for :left_list do 
  %h2.grey Liste des pièces
  %ul#pieces

- content_for :right_list do 
  .js_tab_content.horizontal_tab_content
    #tab_11_content
      LALA
    #tab_12_content
      %h2.grey Liste des Matériaux
      %ul#materials
      %ul#calculs  

- content_for :details_calcul do 
  #edit_material
    %ul.horizontal_tab_submenu.js_tab_submenu
      %li
        %a#tab_1{:href => "#Temps_Génériques"} Génériques
      %li
        %a#tab_2{:href => "#Temps_Elasticité"} Elasticité
      %li
        %a#tab_3{:href => "#Temps_Plasticité"} Plasticité
      %li
        %a#tab_4{:href => "#Temps_Endommagement"} Endommagement
      %li
        %a#tab_5{:href => "#Temps_Viscosité"} Viscosité

    .horizontal_tab_content.js_tab_content
      #tab_1_content
        = render "materials/details/material_basic_information"
        = render :partial => "materials/details/material_main_information", :locals => { :show_all => true }
        = render :partial => "materials/details/material_generic_info", :locals => { :show_all => true }

      #tab_2_content
        = render :partial => "materials/details/material_elastic_information", :locals => { :show_all => true }
      #tab_3_content
        = render :partial => "materials/details/material_plastic_information", :locals => { :show_all => true }
      #tab_4_content
        = render :partial => "materials/details/material_damageable_information", :locals => { :show_all => true }
      #tab_5_content
        = render :partial => "materials/details/material_viscous_information", :locals => { :show_all => true }
    = coffeescript_include_tag "manage_tab"

- content_for :coffee do 
  :coffeescript
    $ ->
      window.LinkCollection = new Links {company_id: #{current_user.company_id}}
      window.LinkCollection.reset #{@links.to_json.html_safe}
      window.LinkViews = new LinkListView {collection: LinkCollection}
      window.MaterialCollection = new Materials {company_id: #{current_user.company_id}}
      window.MaterialCollection.reset #{@materials.to_json.html_safe}
      window.MaterialViews = new MaterialListView {collection: MaterialCollection}
      window.CalculCollection = new Calculs
      window.CalculCollection.reset #{@calculs.to_json.html_safe}
      window.CalculViews = new CalculListView {collection: CalculCollection}
/ %h2 Initialisation du calcul
/ 
/ #steps
/   %button#add_step Ajouter un Step
/   %select#step_type
/     %option{:value => "statique"} Statique
/     %option{:value => "quasistatique"} Quasistatique
/     %option{:value => "dynamique"} Dynamique
/   %table#steps_table.grey
/     %thead
/       %tr.no_sorter
/         %th Nom
/         %th Temps initial
/         %th Pas de temps
/         %th Nombre de pas de temps
/         %th Temps final
/         %th
/     %tbody
/ 
/ %table#links_table.grey
/   %thead
/     %tr.no_sorter
/       %th Nom
/       %th
/   %tbody
/ 
/ %table#selected_links_table.grey
/   %thead
/     %tr.no_sorter
/       %th Nom
/       %th
/       %th
/   %tbody
/ 
/ #edit_link
/   = render :partial => "links/details/link_generic_information", :locals => { :show_all => true }
/   = render :partial => "links/details/link_complexe_information", :locals => { :show_all => true }
/ 
/ 
/ = render 'calculs/partials/materials'
/ 