/ Vue Index des company.
/ Liens vers les CSS
%link{ :href => "/stylesheets/main_company.css", :rel => "stylesheet", :media => "screen" }

/ Javascript particulier a la page societe
%script{ :src => "/javascripts/company/functions_layer_company.js" ,   :type => "text/javascript" }
%script{ :src => "/javascripts/company/forfait/functions_forfait.js" ,   :type => "text/javascript" }
%script{ :src => "/javascripts/company/abonnement/functions_abonnement.js" ,   :type => "text/javascript" }
/ wizard création de projet en premier plan
#content
  #bl_5.black.off
  / wizard de creation d'un nouveau modele
  /= render :partial => "modele_nouveau"

  / partie gauche du contenu, raccourci
  #contentleft
    /.contentheightmin
    = render :partial => "partials/raccourcis_company"
    = render :partial => "context_leftbox"
  / fin partie gauche du contenu
  
  / partie droite du contenu, tableaux, informations importantes
  #contentright
    #largeBox
      %h2
        Tableau de bords
    #largeBoxcontent1
      /compte d'abonnement annuel
      = render :partial => "company/abonnement/resume_abonnement"
      = render :partial => "company/abonnement/contenu_abonnement"
      /compte de calcul
      = render :partial => "company/calcul/resume_calcul"
      = render :partial => "company/calcul/contenu_calcul"

    #largeBox
      %h2
        Profile
    #largeBoxcontent
      /profile company
      = render :partial => "company/profil_company/resume_company"
      = render :partial => "company/profil_company/contenu_company"  
      
  / fin de #contentright, partie droite du contenu
%script{ :type => "text/javascript" }
  $(document).ready(function() {get_current_calcul_account( #{@id_company} )});
  $(document).ready(function() {get_current_memory_account( #{@id_company} )});
  
=javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
  
= render :partial => "footer_top"