-# Ajouter ici car il existe des conflits entre les JS.
%script{ :src => "/javascripts/user/functions_layer_user.js",   :type => "text/javascript" }


- content_for :additionnal_stylesheets do
  = stylesheet_link_tag "member"

-content_for :wizzard_content do
  = render :partial => "membre_nouveau_2"
  / wizard de suppression d'un membre
  = render :partial => "membre_delete"



#largeBox
  %h2
    Liste des membres
#largeBoxcontent
  / taille minimum du contenu du contenu
  .contentheightmin
  / taille minimum du contenu du contenu
  
  #MembreListe.on
    = render :partial => "filtre_des_membres"
    / Liste des membres
    %table#member_list
      %thead
        %tr
          %th{ :colspan => 2 } Mail
          %th                  Nom
          %th                  Role
          %th{ :colspan => 2 } Status
      %tbody
        = render :partial => "member", :collection => @members

    %span#new_member= link_to "Nouveau membre", new_member_path
    
    #member_details
      - #render :partial => "membre_detail"
    