
-# Ajouter ici car il existe des conflits entre les JS.
%script{ :src => "/javascripts/user/functions_layer_user.js"              ,   :type => "text/javascript" }





-content_for :wizzard_content do
  = render :partial => "membre_nouveau"
  / wizard de suppression d'un membre
  = render :partial => "membre_delete"




#largeBox
  %h2
    Liste des membres
#largeBoxcontent
  / taille minimum du contenu du contenu
  .contentheightmin
  / taille minimum du contenu du contenu
  
  #MembreDetail.off
    = render :partial => "membre_detail"
  #MembreListe.on
    = render :partial => "filtre_des_membres"
    / liste des membres
    = render :partial => "membre_list"
    / fin largeBoxcontent de la liste des membres


- #----------------------------------------------------------
- content_for :footer_top do
  / partie haute du footer, bas de la boite projet plus bouton
  #footer_top
    #black_footer_top.black.off
    #footer_top_1
    #footer_top_2
      %a.page_select{ :onclick => "go_page_membre('first')", :style => "cursor: pointer;" }
        %img{:src=>"/images/page_moins.png", :style=>"vertical-align:middle;"}
      page
      - (0...5).each do |i|
        %a{ :id => "membre_page_#{i}", :onclick => "go_page_membre(#{i})", :style => "cursor: pointer;" }
          #{i}
      %a.page_select{ :onclick => "go_page_membre('end')", :style => "cursor: pointer;" }
        %img{:src=>"/images/page_plus.png", :style=>"vertical-align:middle;"}
      
    #footer_top_3
      #model_bouton_jaune{ :style => "margin:5px 0px 0px 170px" }
        %ul
          %li
            -# %a{ :href => "#", :onclick => "CPcurrent_stage=displayNewMembre('on')" }
            %a{ :href => new_member_path  }
              %img{ :src => "/images/manage_pic_nouveau_membre.png" }
              Nouveau membre
      
  / fin partie haute du footer


      
      
/ fin de #contentright, partie droite du contenu
%script{ :type => "text/javascript" }
  $(document).ready(get_Tableau_membre);

