
-# Ajouter ici car il existe des conflits entre les JS.
%script{ :src => "/javascripts/user/functions_layer_user.js"              ,   :type => "text/javascript" }





-content_for :wizzard_content do
  = render :partial => "membre_nouveau_2"
  / wizard de suppression d'un membre
  = render :partial => "membre_delete"




#largeBox
  %h2
    Liste des membres
#largeBoxcontent
  / taille minimum du contenu du contenu
  .contentheightmin
  / taille minimum du contenu du contenu
  
  #MembreDetail.off
    = render :partial => "membre_detail"
  #MembreListe.on
    = render :partial => "filtre_des_membres"
    / liste des membres
    = render :partial => "membre_list"
    / fin largeBoxcontent de la liste des membres


      
      
/ fin de #contentright, partie droite du contenu
%script{ :type => "text/javascript" }
  $(document).ready(get_Tableau_membre);

