.contentBoxTable
  .contentBoxTable_first
    .contentBoxTable_0{ :style => "width: 25px;" }
    .contentBoxTable_0{ :style => "width: 150px;" }
      %p
        Date
    .contentBoxTable_0{ :style => "width: 435px;" }
      %p
        Nom
    .contentBoxTable_0{ :style => "width: 25px;" }
    
  - (0...20).each do |i|
    .contentBoxTable_lign.off{ :id => "file_lign_#{i}" }
      .contentBoxTable_lign_pair{ :id => "file_pair_#{i}" }
        .contentBoxTable_fleche
        .contentBoxTable_2{ :id => "file_0_#{i}" , :style => "width: 150px;" }
        .contentBoxTable_2{ :id => "file_1_#{i}" , :style => "width: 435px;" }
        %a{ :style => "cursor: pointer;", :onclick => "download_file(#{i})" }
          .contentBoxTable_download{ :id => "file_4_#{i}" }
        %a{ :style => "cursor: pointer;", :onclick => "delete_file(#{i})" }
          .contentBoxTable_suppr
  / Fin du tableau de présentation des fichiers.

.NM_bleu{ :style => "width: 600px; height: 25px;  margin: 10px 0px 0 63px;" }
  %a.page_select{ :onclick => "go_page_file('first')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_moins.png", :style=>"vertical-align:middle;"}
  page
  - (0...5).each do |i|
    %a{ :id => "file_page_#{i}", :onclick => "go_page_file(#{i})", :style => "cursor: pointer;" }
      #{i}
  %a.page_select{ :onclick => "go_page_file('end')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_plus.png", :style=>"vertical-align:middle;"}
