%h2
  Type :
  = @material.mtype
  - if @material.mtype.include? "el"
    Elastique
  - if @material.mtype.include? "pl"
    Plastique
  - if @material.mtype.include? "en"
    Endo
  - if @material.mtype.include? "vi"
    Visqueux

= form_for [@company, @material] do |f|
  %h3 Informations

  = f.hidden_field :comp
  = f.hidden_field :mtype

  %table.grey
    %tbody
      %tr
        %th
          = label_tag("Nom")
        %td
          = text_field(:material, :name)
      %tr
        %th
          = label_tag("Famille")
        %td
          = text_field(:material, :family)  
      %tr
        %th
          = label_tag("Description")
        %td
          = text_field(:material, :description)  

  #material_information
    = render :partial => "materials/details/material_main_information", :locals => { :material => @material, :disabled => false }

  #material_generic_information
    = render :partial => "materials/details/material_generic_info", :locals => { :material => @material, :disabled => false }

  - if @material.comp.include? "el"
    = render :partial => "materials/details/material_elastic_information", :locals => { :material => @material, :disabled => false }
  - if @material.comp.include? "pl"
    = render :partial => "materials/details/material_plastic_information", :locals => { :material => @material, :disabled => false }
  - if @material.comp.include? "en"
    = render :partial => "materials/details/material_damageable_information", :locals => { :material => @material, :disabled => false }
  - if @material.comp.include? "vi"
    = render :partial => "materials/details/material_viscous_information", :locals => { :material => @material, :disabled => false }
  
  - if action_name == "edit"
    = submit_tag "Editer", :class => 'yellow_button'
  - else 
    = submit_tag "Créer", :class => 'yellow_button'
    = link_to "Annuler", company_materials_path, :class => 'yellow_button'