%h2
  Type :
  = @material.mtype
  - if @material.comp.include? "el"
    Elastique
  - if @material.comp.include? "pl"
    Plastique
  - if @material.comp.include? "en"
    Endommageable
  - if @material.comp.include? "Vi"
    Visqueux
  - if @material.comp.include? "Mes"
    Mésomodèle

= form_for [@workspace, @material] do |f|
  %h3 Informations

  = f.hidden_field :comp
  = f.hidden_field :mtype

  = render "materials/details/material_basic_information"

  .wrapper
    #left_content
      = render "material_tab_details"
    #right_content
      = render :partial => "material_details", :locals => {:disabled => false}

  - if action_name == "edit"
    = submit_tag "Editer", :class => 'yellow_button'
  - else 
    = submit_tag "Créer", :class => 'yellow_button'
    = link_to "Annuler", :controller => :laboratory, :action => :index, :anchor => 'Matériaux', :class => 'yellow_button'