- disabled = true if disabled.nil?
%div.js_tab_content.tab_content
  #tab_1_content
    = render :partial => "materials/details/material_generic_info", :locals => { :disabled => disabled }
      
  - if @material.comp.include? "el"
    #tab_2_content
      = render :partial => "materials/details/material_elastic_information", :locals => { :disabled => disabled }
  - if @material.comp.include? "pl"
    #tab_3_content
      = render :partial => "materials/details/material_plastic_information", :locals => { :disabled => disabled }
  - if @material.comp.include? "en"
    #tab_4_content
      = render :partial => "materials/details/material_damageable_information", :locals => { :disabled => disabled }

= coffeescript_include_tag "manage_tab"
