%tr{ :class => (material_counter % 2 == 0 ? "light_grey" : "grey") }
  %td= link_to "Détails", material
  %td= material.name
  %td= material.family
  %td= material.mtype
  %td= material.comp
  - if params[:type] != "standard"
    %td= link_to "Editer", edit_material_path(material)