
%table#materials_table

  %thead
    %th Nom
    %th Famille
    %th Type
    %th Comportement
      
  %tbody
.largeBoxTable
  .largeBoxTable_first
    .largeBoxTable_0{ :style => "width: 25px;" }
    .largeBoxTable_0{ :style => "width: 246px;" }
      %p
        Nom                   
    .largeBoxTable_0{ :style => "width: 210px;" }
      %p
        Famille 
    .largeBoxTable_0{ :style => "width: 100px;" }
      %p
        type
    .largeBoxTable_0{ :style => "width: 100px;" }
      %p
        comportement
    
  - (0...20).each do |i|
    .largeBoxTable_lign.off{ :id => "material_lign_#{i}" }
      .largeBoxTable_lign_pair{ :id => "material_pair_#{i}" }
        %a{ :style => "cursor: pointer;", :onclick => "affich_detail_material(#{i})" }
          .largeBoxTable_fleche
        .largeBoxTable_2{ :id => "material_0_#{i}", :style => "width: 246px;" }
        .largeBoxTable_2{ :id => "material_1_#{i}", :style => "width: 201px;" }
        .largeBoxTable_2{ :id => "material_2_#{i}", :style => "width: 100px;" }
        .largeBoxTable_2{ :id => "material_3_#{i}", :style => "width: 100px;" }
        .largeBoxTable_suppr
  / Fin du tableau de présentation des modèles.

#footer_top_2
  %a.page_select{ :onclick => "go_page_material('first')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_moins.png", :style=>"vertical-align:middle;"}
  page
  - (0...5).each do |i|
    %a{ :id => "material_page_#{i}", :onclick => "go_page_material(#{i})", :style => "cursor: pointer;" }
      #{i}
  %a.page_select{ :onclick => "go_page_material('end')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_plus.png", :style=>"vertical-align:middle;"}
    
#footer_top_3
  #model_bouton_jaune{ :style => "margin:5px 0px 0px 170px" }
    %ul
      %li
        %a{ :href => "#", :onclick => "CPcurrent_stage=displayNewMaterial('on')" }
          %img{ :src => "/images/LM_pic_new_mat.png" }
          Nouveau materiaux
