%tr{:class => type}
  %td.escape_search.details_link
    - if material.company
      =  link_to "Détails", [material.company, material]
    / - else
    /   =  link_to "Détails", [material]
  %td.name=           material.name
  %td.id=             material.id
  %td.reference=      material.reference            
  %td.family=         material.family
  %td.type=           material.mtype
  %td.comp=           material.comp
  %td.action_on_table.escape_search
    - if material.company and material.company.id == current_user.company.id
      %ul
        %li
          = link_to "Editer"   , edit_company_material_path(material.company, material)
        %li
          = link_to "Supprimer", {:action=>"destroy", :controller=>"materials", :id => material.id}, :method => :delete    
