-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_new_mat
        = link_to "Nouveau materiaux", new_company_material_path
-content_for :right_top do
  %h2.grey
    Liste des matériaux 
  %div
    = render :partial => "search_filter"

-content_for :company_content do
  - if !@materials.empty?
    %table.grey#materials_table
      %thead
        %tr
          %th.no_sorter 
          %th Nom
          %th ID
          %th Référence
          %th Famille
          %th Type
          %th Comportement
          %th.no_sorter Actions
      %tbody
        - @materials.each do |material|
          %tr
            %td= link_to "Détails", [@company, material]
            %td.name= material.name
            %td.id= material.id
            %td.reference= material.reference            
            %td.family= material.family
            %td.type= material.mtype
            %td.comp= material.comp
            - if material.company and material.company.id == current_user.company.id
              %td.action_on_table
                %ul
                  %li
                    = link_to "Editer"   , edit_company_material_path(@company, material)
                  %li
                    = link_to "Supprimer", {:action=>"destroy", :controller=>"materials", :id => material.id}, :method => :delete    
