-content_for :left_submenu do
  #contentleft
    = render :partial => "partials/raccourcis_modele"
    
-content_for :content_company do
  %h2
    Matériaux : 
    = @material.name
  %ul
    %li
      Référence :
      = @material.reference
    %li
      Famille :
      = @material.family
    %li
      Type :
      = @material.mtype
    %li
      Comportement :
      - if @material.comp.include? "el"
        %span.material_behavior Elastique
      - if @material.comp.include? "pl"
        %span.material_behavior Plastique
      - if @material.comp.include? "en"
        %span.material_behavior Endommageable
      - if @material.comp.include? "vi"
        %span.material_behavior Visqueux
  
  #material_information
    = render :partial => "materials/details/material_main_information", :locals => { :material => @material, :disabled => true }

  #material_generic_information
    = render :partial => "materials/details/material_generic_info", :locals => { :material => @material, :disabled => true }
    
  - if @material.comp.include? "el"
    = render :partial => "materials/details/material_elastic_information", :locals => { :material => @material, :disabled => true }
  - if @material.comp.include? "pl"
    = render :partial => "materials/details/material_plastic_information", :locals => { :material => @material, :disabled => true }
  - if @material.comp.include? "en"
    = render :partial => "materials/details/material_damageable_information", :locals => { :material => @material, :disabled => true }
  - if @material.comp.include? "vi"
    = render :partial => "materials/details/material_viscous_information", :locals => { :material => @material, :disabled => true }

  = link_to "Retourner à la liste", company_materials_path