-content_for :left_submenu do
  #contentleft
    %ul.tab_submenu
      %li
        %a#tab_1.selected{:href => "#"} Info
      %li 
        %a#tab_2{:href => "#"} Générique
      %li 
        %a#tab_3{:href => "#"} Elasticité
      %li 
        %a#tab_4{:href => "#"} Plasticité
          
-content_for :content_company do
  .tab_content
    %h2
      Matériaux : 
      = @material.name
    .wrapper
      #tab_1_content.content_to_hide
        %ul
          %li
            Référence :
            = @material.reference
          %li
            Famille :
            = @material.family
          %li
            Type :
            = @material.mtype
          %li
            Comportement :
            - if @material.comp.include? "el"
              %span.material_behavior Elastique
            - if @material.comp.include? "pl"
              %span.material_behavior Plastique
            - if @material.comp.include? "en"
              %span.material_behavior Endommageable
            - if @material.comp.include? "vi"
              %span.material_behavior Visqueux
      
          #material_information
            = render :partial => "materials/details/material_main_information", :locals => { :material => @material, :disabled => true }
    
          #material_generic_information
            = render :partial => "materials/details/material_generic_info", :locals => { :material => @material, :disabled => true }
        
      - if @material.comp.include? "el"
        #tab_2_content.content_to_hide
          = render :partial => "materials/details/material_elastic_information", :locals => { :material => @material, :disabled => true }
      - if @material.comp.include? "pl"
        #tab_3_content.content_to_hide
          = render :partial => "materials/details/material_plastic_information", :locals => { :material => @material, :disabled => true }
      - if @material.comp.include? "en"
        #tab_4_content.content_to_hide
          = render :partial => "materials/details/material_damageable_information", :locals => { :material => @material, :disabled => true }
      - if @material.comp.include? "vi"
        #tab_5_content.content_to_hide
          = render :partial => "materials/details/material_viscous_information", :locals => { :material => @material, :disabled => true }
    
      = link_to "Retourner à la liste", company_materials_path

  :javascript   
    var nav_links = $('#contentleft a')
    nav_links.each(function () {
      $(this).click(function() {
        $('.content_to_hide').css('display','none');
        nav_links.removeClass('selected');
        $(this).addClass('selected');
        $('#'+$(this).attr('id') + '_content').css('display','block');
      });
    });
    