- content_for :left_top do 
  = render :partial => "partials/raccourcis_admin"
  = render :partial => "context_leftbox"

- content_for :company_content do 
  %h2.grey
    Liste des société clientes
  = render :partial => "company_detail"
  = render :partial => "filtre_des_company"
  = render :partial => "company_list"
