- content_for :left_submenu do 
  #contentleft
    = render :partial => "partials/raccourcis_admin"
    = render :partial => "context_leftbox"

- content_for :content_company do 
  #largeBox
    %h2
      Liste des société clientes
  #largeBoxcontent
    #SCAdminCompanyDetail.off
      = render :partial => "company_detail"
    #SCAdminCompanyListe.on
      = render :partial => "filtre_des_company"
      = render :partial => "company_list"
