= javascript_include_tag "backbone"

/ Models
= coffeescript_include_tag "calculs/models/InterfaceModels"
= coffeescript_include_tag "calculs/models/LinkModel"
= coffeescript_include_tag "calculs/models/MaterialModel"
= coffeescript_include_tag "calculs/models/PieceModel"
= coffeescript_include_tag "calculs/models/StepModel"
= coffeescript_include_tag "calculs/models/CalculModel"
/ Views
= coffeescript_include_tag "calculs/views/steps/StepListView"
= coffeescript_include_tag "calculs/views/steps/StepView"

= coffeescript_include_tag "calculs/views/pieces/PieceView"
= coffeescript_include_tag "calculs/views/pieces/PieceListView"

= coffeescript_include_tag "calculs/views/calculs/CalculView"
= coffeescript_include_tag "calculs/views/calculs/CalculListView"

= coffeescript_include_tag "calculs/views/links/EditLinkView"
= coffeescript_include_tag "calculs/views/links/LinkListView"
= coffeescript_include_tag "calculs/views/links/LinkView"
= coffeescript_include_tag "calculs/views/links/SelectedLinkListView"
= coffeescript_include_tag "calculs/views/links/SelectedLinkView"

= coffeescript_include_tag "calculs/views/materials/EditMaterialView"
= coffeescript_include_tag "calculs/views/materials/MaterialListView"
= coffeescript_include_tag "calculs/views/materials/MaterialView"
= coffeescript_include_tag "calculs/views/materials/SelectedMaterialListView"
= coffeescript_include_tag "calculs/views/materials/SelectedMaterialView"

= coffeescript_include_tag "calculs/router"
= coffeescript_include_tag "calculs/main"

/ Javascripts concernants la visualisation.
= coffeescript_include_tag "visualisation/ScClient"
= coffeescript_include_tag "visualisation/ScDisp"


