/ Menu principal de l'application.

%ul#main_menu
  %li#home_tab{:class => ( @page == :accueil ? "selected" : "")}
    =link_to 'Accueil', :controller => 'home'
  
  %li#company_tab{:class => ( @page == :manage ? "selected" : "")}
    = link_to 'Ma société', companies_path
    %ul.main_submenu
      %li
        = link_to 'Liste des membres', company_members_path(current_user.company)
      %li
        = link_to 'Liste des factures'
        -#, company_bills_path
      %li.submenu_separator
      %li
        %a{:href => ""} Abonnement
      %li
        %a{:href => ""} Forfait calcul
        
  %li#lab_tab{:class => ( @page == :lab ? "selected" : "")}
    = #link_to 'Mes modèles', company_member_models_path
    %ul#main_submenu_solution.main_submenu
      %li
        %a{:href => "#"} Liste des modèles
      %li
        = link_to "Bibliothèque matériaux", company_materials_path(current_user.company)
      %li
        %a{:href => "#"} Bibliothèque liaisons
      %li.submenu_separator
      %li
        %a{:href => "#"} Déposer un modèle
      

-# TODO: Utiliser un helper pour le style "selected"
-#   %li{:id => "menu_accueil"     , :class => "main_menu_item " + menu_item_selected_class( @page, :accueil   ) }




    
