!!!
%html{ "xml:lang" => "fr", :lang => "fr", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Structure Computation
    
    / Inclusions des CSS, javascripts... dans un partial.
    = render      :partial      => "layouts/partials/html_header_content"

    / CSS et javascript additionnels
    = yield :additionnal_stylesheets
    = yield :additionnal_javascript
    
    
  %body
    = render :partial => "layouts/partials/header"      
    .container
      = render :partial => "layouts/partials/breadcrumb"
      = render :partial => "layouts/partials/flashs_and_notices"
      = yield :left_submenu
      
      #content
        = content_for?(:content) ? yield(:content) : yield


    = render :partial => "layouts/partials/footer"
