!!!
%html{ "xml:lang" => "fr", :lang => "fr", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Structure Computation
    
    / Inclusions des CSS, javascripts... dans un partial.
    = render      :partial      => "layouts/partials/html_header_content"

    / CSS et javascript additionnels
    = yield :additionnal_stylesheets
    = yield :additionnal_javascript
    
    
<<<<<<< HEAD
  %body.bp#container
    = render :partial => "layouts/header_sass"    # Header prend toute la largeur et contient son container.
=======
  %body.bp
    = render :partial => "layouts/partials/header"    # Header prend toute la largeur et contient son sontainer.
>>>>>>> 867227f61c5162eb4f678ea2ae2a82247ccbca4c

    #content
      
      = render :partial => "layouts/partials/breadcrumb"
      = render :partial => "layouts/partials/flashs_and_notices"
      
    #content
      #content  
        / Début d'affichage du code de la vue.
        = content_for?(:content) ? yield(:content) : yield # on utilise ici la technique des layout imbriqués décrite dans le guide rails.
        / Fin du code d'affichage de la vue

      / Fin content
    = render :partial => "layouts/partials/footer"         # Footer prend toute la largeur et contient son sontainer.
      
    / Fin conteneur
