-# encoding: utf-8 
#ajax-loader
-# - if is_mobile?
-#   -content_for :header do
-#     %header#calcul
-#       .container
-#         #header_logo
-#   -content_for :content do
-#     #breadcrumb
-#       = yield :breadcrumb
-#     #content_calcul
-#       #list_calcul
-#         #left_list_calcul
-#           = yield :left_list
-#         #right_list_calcul
-#           = yield :right_list
-#     #visu_calcul
-#       = yield :visu
-#       = yield :details_calcul   
-#     = yield :coffee
-#   
-# - else
-content_for :header do
  %header#calcul
    .container
      #notification
      #header_logo
      #header_user_connected  
        #user_information
          - if user_signed_in?  # Le cadenas est placé en premier car on aligne de droite à gauche dans cette zone. 
            -#logo_session_lock  
            %p#user_name
              = current_user.full_name
              %br
              = link_to "déconnexion", destroy_user_session_path,  :id => "disconnect_link"
          
            -#header_top_cadena
        %p#header_workspace_name
          - if user_signed_in? && current_workspace_member 
            = current_workspace_member.workspace.name
          - else
            selectionner un workspace   
  - # Inclusion des JS pour l'interface calcul.
  = render :partial => "layouts/partials/calcul_backbonejs_headers"

-content_for :content do
  #calcul_container
    #breadcrumb
      = yield :breadcrumb
    #content_calcul.js_tab_content.breadcrumb_tab_content
      #wizard_buttons
        = yield :wizard_buttons
  
      #list_calcul
        = yield :top_calcul
        #left_list_calcul
          = yield :left_list
        #right_list_calcul
          = yield :right_list     
      #bottom_list_calcul
        = yield :bottom_list
    #details_calcul
      = yield :details_calcul
    #visu_calcul
      = yield :visu  
    = yield :coffee
      
=render :file => 'layouts/application'
