#ajax-loader
- if is_mobile?
  -content_for :header do
    %header#calcul
      .container
        #header_logo
  -content_for :content do
    #breadcrumb
      = yield :breadcrumb
    #content_calcul
      #list_calcul
        #left_list_calcul
          = yield :left_list
        #right_list_calcul
          = yield :right_list
    #visu_calcul
      = yield :visu
      = yield :details_calcul   
    = yield :coffee
  
- else
  -content_for :header do
    %header#calcul
      .container
        #header_logo
  -content_for :content do
    #breadcrumb
      = yield :breadcrumb
    #content_calcul.js_tab_content.breadcrumb_tab_content
      #wizard_buttons
        = yield :wizard_buttons

      #list_calcul
        = yield :top_calcul
        #left_list_calcul
          = yield :left_list
        #right_list_calcul
          = yield :right_list     
      #details_calcul
        = yield :details_calcul
    #visu_calcul
      = yield :visu   
    = yield :coffee
    
=render :file => 'layouts/application'