/ Layout dédié aux pages "entreprise"

-# Css et Javascript additionnels.
-content_for :additionnal_stylesheets do 
  %link{ :href => "/stylesheets/main_user.css"    , :rel => "stylesheet", :media => "screen" }
  %link{ :href => "/stylesheets/main_company.css" , :rel => "stylesheet", :media => "screen" }
  

-# MIS DANS LES VUES pour des raisons de conflits entre les JS. content_for :additionnal_javascript  do 
  / Javascript dédié à la gestion des utilisateurs.
  -# ATTENTION : les 2 js suivant en commentaires NE SONT PAS COMPATIBLES ! ajoutés ensembles ils font planter les pages.
  -# %script{ :src => "/javascripts/user/functions_layer_user.js"              ,   :type => "text/javascript" }
  -# %script{ :src => "/javascripts/admin/functions_layer_sc_admin_company.js" ,   :type => "text/javascript" }
  

-# Layout du contenu.
-content_for :content do
  / wizard création de projet en premier plan
  #content
    #bl_5.black.off
    = yield(:wizzard_content)  # Conservé pour pouvoir ajouter le HTML des Wizzards. 

    / partie gauche du contenu, raccourci
    #contentleft
      .contentheightmin
      = render :partial => "partials/raccourcis_company"
      = render :partial => "context_leftbox"
    / fin partie gauche du contenu
  
  
  
    / partie droite du contenu, tableaux, informations importantes
    #contentright
      - # Seul cette partie est donnée par les vues.
      = content_for?(:company_content) ? yield(:company_content) : yield



  = content_for?(:footer_top) ? yield(:footer_top)  : render(:partial => "footer_top")

-# Ce template est rendu au sein du layout général de l'application.
= render :file => 'layouts/application' 