-# encoding: utf-8 
= semantic_form_for [@workspace, @member], :url => {:controller => "members", :action => "create"} do |form|
  %p= form.label :email
  = form.text_field :email
  %p= form.label :firstname
  = form.text_field :firstname
  %p= form.label :lastname
  = form.text_field :lastname
  %p= form.hidden_field :password, :as => :password, :value => "ERT123FGH"

  %button.login_button.yellow_button{ :type => "submit"}
    Create user
  %p
    %br

 