.grey
  = semantic_form_for [@workspace, @member], :url => {:controller => "members", :action => "create"} do |form|
    = form.inputs do
      = form.input :email
      = form.input :password, :as => :password
      = form.input :firstname
      = form.input :lastname
    = form.buttons