%tr
  %td= link_to "Détails", company_member_path( current_company_member.company, member), :class => "details_link"
  %td= member.email
  %td= member.firstname
  %td= member.role
  %td= member.state
  %td= link_to "X", {:controller => "companies", :action => company_member_path( current_company_member.company, member), :id_membre => member.id}, :confirm => "Êtes vous sûr ?", :method => :delete
