%tr{:class => (member_counter % 2 == 0 ? "light_grey" : "grey") }
  %td= link_to "Détails", member_path(member), :class => "member_details_link"
  %td= member.email
  %td= member.firstname
  %td= member.role
  %td= member.state
  %td= link_to "X", {:controller => "company", :action => "delete_user", :id_membre => member.id}, :confirm => "Êtes vous sûr ?", :method => :delete
