%h4
  Détail du membre

%dl
  %dt Mail
  %dd= member_detail.email
  
  %dt Nom
  %dd= member_detail.lastname

  %dt Prénom
  %dd= member_detail.firstname

  %dt Role
  %dd= member_detail.role
  %br/

  %dt Status
  %dd= member_detail.state

  %dt Date de création
  %dd= member_detail.created_at