-# encoding: utf-8 
%tr
  %td= link_to "Détails", workspace_member_path( current_workspace_member.workspace, member), :class => "details_link"
  %td= member.email
  %td= member.firstname
  %td= member.role
  %td= member.state
  %td= link_to "X", {:controller => "workspaces", :action => workspace_member_path( current_workspace_member.workspace, member), :id_membre => member.id}, :confirm => "Êtes vous sûr ?", :method => :delete
