-# encoding: utf-8 
%table#members_table.grey
  %thead
    %tr
      %th Mail
      %th Nom
      %th Prénom
      %th.no_sorter Actions
  %tbody
    - members_list.each do |member|
      %tr
        %td= member.email
        %td= member.lastname
        %td= member.firstname
        %td.action_on_table.escape_search
          -unless member==current_user 
            %ul
              %li
                = button_to "Supprimer", workspace_member_path(current_workspace_member.workspace, member), :confirm => "Êtes vous sûr ?", :method => :delete, :confirm => "Êtes-vous sûr ?" 
              %li 
                = button_to "Manager", :controller => :members, :action => :manager, :member_id => member.id
              %li 
                = button_to "Ingénieur", :controller => :members, :action => :engineer, :member_id => member.id

/= link_to 'Ajouter un membre', new_workspace_member_path(@workspace), :class => 'yellow_button'

:coffeescript
  $('#members_table').tablesorter()