.largeBoxTable
  .largeBoxTable_first
    .largeBoxTable_0{ :style => "width: 25px;" }
    .largeBoxTable_0{ :style => "width: 246px;" }
      %p
        Mail                   
    .largeBoxTable_0{ :style => "width: 193px;" }
      %p
        Nom 
    .largeBoxTable_0{ :style => "width: 148px;" }
      %p
        Rôle
    .largeBoxTable_0{ :style => "width: 60px;" }
      %p
        Statut
    
  - (0...20).each do |i|
    .largeBoxTable_lign.off{ :id => "membre_lign_#{i}" }
      .largeBoxTable_lign_pair{ :id => "membre_pair_#{i}" }
        %a{ :style => "cursor: pointer;", :onclick => "affich_detail_membre(#{i})" }
          .largeBoxTable_fleche
        .largeBoxTable_2{ :id => "membre_0_#{i}", :style => "width: 246px;" }
        .largeBoxTable_2{ :id => "membre_1_#{i}", :style => "width: 193px;" }
        .largeBoxTable_2{ :id => "membre_2_#{i}", :style => "width: 148px;" }
        .largeBoxTable_2{ :id => "membre_3_#{i}", :style => "width: 60px;" }
        %a{ :style => "cursor: pointer;", :onclick => "delete_membre(#{i})" }
          .largeBoxTable_suppr
  / Fin du tableau de présentation des modèles.

#footer_top_2
  %a.page_select{ :onclick => "go_page_membre('first')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_moins.png", :style=>"vertical-align:middle;"}
  page
  - (0...5).each do |i|
    %a{ :id => "membre_page_#{i}", :onclick => "go_page_membre(#{i})", :style => "cursor: pointer;" }
      #{i}
  %a.page_select{ :onclick => "go_page_membre('end')", :style => "cursor: pointer;" }
    %img{:src=>"/images/page_plus.png", :style=>"vertical-align:middle;"}
  
#footer_top_3
  #model_bouton_jaune{ :style => "margin:5px 0px 0px 170px" }
    %ul
      %li
        /-# %a{ :href => "#", :onclick => "CPcurrent_stage=displayNewMembre('on')" }
        %a{ :href => new_company_member_path(current_user.company)  }
          %img{ :src => "/images/manage_pic_nouveau_membre.png" }
          Nouveau membre
