-# Ajouter ici car il existe des conflits entre les JS.
%script{ :src => "/javascripts/user/functions_layer_user.js",   :type => "text/javascript" }


- content_for :additionnal_stylesheets do
  = stylesheet_link_tag "member"
  = stylesheet_link_tag "table"

-content_for :wizzard_content do 
  -#   Les wizzard ne sont plus ajoutés dans cette page, nous les supprimerons à terme pour ne plus passer en Ajax sur des fonctions de nature synchrones et
  -#   pour éviter des erreurs rails (besoin d'une variable @member dans index ou elle ne doit pas être instanciée.)
  -# = render :partial => "member_new"
  / wizard de suppression d'un membre
  -# = render :partial => "membre_delete"



#largeBox
  %h2
    Liste des membres
#largeBoxcontent
  / taille minimum du contenu du contenu
  .contentheightmin
  / taille minimum du contenu du contenu
  
  #MembreListe.on
    = render :partial => "filtre_des_membres"
    / Liste des membres
    %table#member_list
      %thead
        %tr
          %th
          %th                  Mail
          %th                  Nom
          %th                  Role
          %th{ :colspan => 2 } Status
      %tbody
        = render :partial => "member", :collection => @members

    %span#new_member.button_style= link_to "Nouveau membre", new_company_member_path(current_user.company)
    
    #member_details
      - #render :partial => "membre_detail"