-# Ajouter ici car il existe des conflits entre les JS.
%script{ :src => "/javascripts/user/functions_layer_user.js",   :type => "text/javascript" }


- content_for :additionnal_stylesheets do
  = stylesheet_link_tag "member"
  = stylesheet_link_tag "table"


-content_for :left_submenu do
  #contentleft
    = render :partial => "partials/raccourcis_modele"
    = render :partial => "context_leftbox"


#largeBox
  %h2
    Liste des membres
#largeBoxcontent
  / taille minimum du contenu du contenu
  .contentheightmin
  / taille minimum du contenu du contenu
  
  #MembreListe.on
    = render :partial => "member_filter"
    / Liste des membres
    %table#member_list.grey
      %thead
        %tr
          %th
          %th                  Mail
          %th                  Nom
          %th                  Role
          %th{ :colspan => 2 } Status
      %tbody
        = render :partial => "member", :collection => @members

    = link_to "Nouveau membre", new_company_member_path(current_user.company), :class => 'yellow_button'
  

