-content_for :left_submenu do
  %p this is a test

-content_for :right_content do
  = semantic_form_for [@company, @member] do |form|
    = form.inputs do
      = form.input :email
      = form.input :name
      = form.input :firstname
      = form.input :lastname
    = form.buttons