-content_for :left_submenu do
  #contentleft
    = render :partial => "partials/raccourcis_modele"
    = render :partial => "context_leftbox"

-content_for :content_company do
  = semantic_form_for [current_user.company, @member] do |form|
    = form.inputs do
      = form.input :email
      = form.input :name
      = form.input :firstname
      = form.input :lastname
    = form.buttons