-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_materiau
        =link_to 'Retour à la liste des membres', company_path(@company, :tab => 'Membres')

-content_for :right_top do
  %h2.grey
    Détail du membre
  %table.grey
    %thead
      %tr.no_sorter
        %th Mail
        %th Prénom
        %th Nom
        %th Rôle
        %th Status
        %th Date d'inscription
    %tbody
      %tr
        %td= @member.email
        %td= @member.firstname
        %td= @member.lastname
        %td= @member.role
        %td= @member.state
        %td= @member.created_at.to_date
  
  = link_to 'Editer', edit_company_member_path(@company, @member), :class => 'yellow_button'
  = link_to 'Désactiver', edit_company_member_path(@company, @member), :class => 'yellow_button'
  -# TODO Créer un fonction pour désactiver un user 
  = link_to 'Editer', edit_company_member_path(@company, @member), :class => 'yellow_button'