-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_materiau
        =link_to 'Retour à la liste des membres', company_members_path(@company)

-content_for :right_top do  
  %h4
    Détail du membre
  
  %dl
    %dt Mail
    %dd= @member.email
  
    %dt Nom
    %dd= @member.lastname
  
    %dt Prénom
    %dd= @member.firstname
  
    %dt Role
    %dd= @member.role
    %br/
  
    %dt Status
    %dd= @member.state
  
    %dt Date de création
    %dd= @member.created_at